<div id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <a href="https://www.explorviz.net" target="_blank"><img
            width="65%" src="/images/explorviz-transparent.png"/>
          </a>
        </div>
      </div>
      <div class="modal-body">
        <div id="failure" style="color: #ef5350; text-align: center; font-weight: bold; font-size: 150%; padding-bottom: 1em">
          {{#if session.session.content.errorMessage}}              
            {{session.session.content.errorMessage}}
          {{/if}}
        </div>
        <div id="succeededLogout" style="color: #a5d6a7; text-align: center; font-weight: bold; font-size: 150%; padding-bottom: 1em">
          {{#if session.session.content.message}}
            {{session.session.content.message}}
          {{/if}}
        </div>
        <form {{action 'authenticate' on='submit'}} class="form center-block">
          <div class="form-group">
            {{input id="username" value=identification placeholder='admin' class="form-control input-lg" autofocus="autofocus" autocomplete="username"}}
          </div>
          <div class="form-group">
            {{input value=password placeholder='password' class='form-control input-lg' type='password' autocomplete="current-password"}}
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary btn-lg btn-block btn-exp-login">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>