  <div id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="https://www.explorviz.net" target="_blank"><img
            width="65%" class="center-block"
            src="images/explorviz-transparent.png" /></a>
          </div>
          <div class="modal-body">
            <div id="failure" style="color: #FF0000; text-align: center; font-weight: bold; font-size: 150%; padding-bottom: 1em">
              {{#if session.session.messages.errorMessage}}              
                {{session.session.messages.errorMessage}}
              {{/if}}
            </div>
            <div id="succeededLogout" style="color: #00FF00; text-align: center; font-weight: bold; font-size: 150%; padding-bottom: 1em">
              {{#if session.session.messages.message}}              
                {{session.session.messages.message}}
              {{/if}}
            </div>
            <form {{action 'authenticate' on='submit'}} class="form center-block">
            <div class="form-group">
              {{input value=identification placeholder='admin' class="form-control input-lg" autofocus="autofocus"}}
            </div>
            <div class="form-group">
              {{input value=password placeholder='admin' class='form-control input-lg' type='password'}}
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>