<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      {{#bs-button-group
        value=page
        type="radio"
        class="mt-3"
        onChange=(action (mut page)) as |bg|}}
        {{#bg.button value="createSingleUser"}}Single User{{/bg.button}}
        {{#bg.button value="createMultipleUsers"}}Multiple Users{{/bg.button}}
      {{/bs-button-group}}
      {{#if (eq page "createSingleUser")}}
        <h4 class="mt-5">Create Single User</h4>
        {{#bs-form formLayout=formLayout model=this onSubmit=(action "saveUser") as |form|}}
          {{form.element controlType="text" label="Username" placeholder="Username" property="username" required=true}}
          {{form.element controlType="password" label="Password" placeholder="Password" property="password" required=true}}
          {{#form.element controlType="power-select-multiple" property="roles_selected_single" label="Choose Roles" searchEnabled=false loadingMessage="Loading..." options=roles 
          as |el|}}
            {{#el.control 
              onopen=(perform getRoles)  
              as |item|}}
                {{item.descriptor}}
            {{/el.control}}
          {{/form.element}}
          {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
        {{/bs-form}}
      {{else if (eq page "createMultipleUsers")}}
        <h4 class="mt-5">Create Multiple Users</h4>
        {{#bs-form formLayout=formLayout model=this onSubmit=(action "saveMultipleUsers") as |form|}}
          {{form.element controlType="text" label="Username Prefix" placeholder="Username Prefix" property="usernameprefix" required=true}}
          {{form.element controlType="number" label="Number of Users" placeholder="# of users" property="numberofusers" min="1" required=true}}
          {{#form.element controlType="power-select-multiple" property="roles_selected_single" label="Choose Roles" searchEnabled=false loadingMessage="Loading..." options=roles 
          as |el|}}
            {{#el.control 
              onopen=(perform getRoles)  
              as |item|}}
                {{item.descriptor}}
            {{/el.control}}
          {{/form.element}}
          {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
        {{/bs-form}}
      {{/if}}
    </div>
  </div>
</div>