<div class="d-flex justify-content-center flex-grow-1 container" style="min-height: 0">
  {{#bs-modal open=showNewUsers backdropClose=false keyboard=false onHidden=(action "hideNewUsersCreatedModal") as |modal|}}
    {{#modal.header}}
      <h4 class="modal-title">New Users</h4>
    {{/modal.header}}
    {{#modal.body}}
      {{#each createdUsers as |user|}}
        <p>ID: {{user.id}}</p>
        <p>Username: {{user.username}}</p>
        <p>Password: {{user.password}}</p>
      {{/each}}
    {{/modal.body}}
    {{#modal.footer as |footer|}}
      {{#bs-button onClick=(action "printNewUsers") type="primary"}}Print{{/bs-button}}
    {{/modal.footer}}
  {{/bs-modal}}
  {{#if (eq page "createSingleUser")}}
    <div class="col-12 mt-5 d-flex flex-column">
      <div>
        {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to User List"}}
          {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      <h3 class="mt-4">Create Users</h3>
      <div>
        {{#bs-button-group
          value=page
          type="radio"
          class="mt-2 mb-2 float-right"
          onChange=(action (mut page)) as |bg|}}
          {{#bg.button value="createSingleUser"}}Single User{{/bg.button}}
          {{#bg.button value="createMultipleUsers"}}Multiple Users{{/bg.button}}
        {{/bs-button-group}}
      </div>
      {{#bs-form formLayout=formLayout model=this onSubmit=(action "saveUser") as |form|}}
        {{form.element controlType="text" label="Username" placeholder="Username" property="username"}}
        {{form.element controlType="password" label="Password" placeholder="Password" property="password"}}
        {{#form.element controlType="power-select-multiple" property="roles_selected_single" label="Choose Roles" options=roles
        as |el|}}
          {{#el.control 
            placeholder="Choose roles"
            loadingMessage="loading..."
            onopen=(perform getRoles)
            searchEnabled=false
            searchField="default"
            as |item|}}
              {{item.descriptor}}
          {{/el.control}}
        {{/form.element}}
        {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
      {{/bs-form}}
    </div>
  {{else if (eq page "createMultipleUsers")}}
    <div class="col-12 mt-5 d-flex flex-column">
      <div>
        {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to User List"}}
          {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      <h3 class="mt-4">Create Users</h3>
      <div>
        {{#bs-button-group
          value=page
          type="radio"
          class="mt-2 mb-2 float-right"
          onChange=(action (mut page)) as |bg|}}
          {{#bg.button value="createSingleUser"}}Single User{{/bg.button}}
          {{#bg.button value="createMultipleUsers"}}Multiple Users{{/bg.button}}
        {{/bs-button-group}}
      </div>
      {{#bs-form formLayout=formLayout model=this onSubmit=(action "saveMultipleUsers") as |form|}}
        {{form.element controlType="text" label="Username Prefix" placeholder="Username Prefix" property="usernameprefix"}}
        {{form.element controlType="number" label="Number of Users" placeholder="# of users" property="numberofusers"}}
        {{#form.element controlType="power-select-multiple" property="roles_selected_multiple" label="Choose Roles" options=roles
        as |el|}}
          {{#el.control 
            placeholder="Choose roles"
            loadingMessage="loading..."
            onopen=(perform getRoles)
            searchEnabled=false
            searchField="default" 
            as |item|}}
              {{item.descriptor}}
          {{/el.control}}
        {{/form.element}}
        {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
      {{/bs-form}}
    </div>
  {{else if (eq page "main")}}
    <div class="col-12 mt-5 d-flex flex-column">
      <h3>Users</h3>
      <div class="mb-3">
        <div class="float-right">
          {{#bs-button class="d-flex-center"onClick=(action "openCreateSingleUserPage") type="success" outline=true title="Add Users"}}
            {{svg-jar "person" class="octicon"}}{{svg-jar "plus-small" class="octicon"}}<span>Add Users</span>
          {{/bs-button}}
        </div>
      </div>
      <div class="d-flex flex-grow-1" style="overflow-y: auto">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th> 
              <th scope="col">Roles</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each users as |user|}}
              <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>
                  {{#each user.roles as |role|}}
                    {{role.descriptor}}
                  {{/each}}
                </td>
                <td class="text-right">
                  {{#bs-dropdown as |dd|}}
                    {{#dd.button class="removecaret d-flex-center" size="sm" title="Options"}}
                      {{svg-jar "kebab-vertical" class="octicon"}}
                    {{/dd.button}}
                    {{#dd.menu as |ddm|}}
                      {{#ddm.item title="Edit"}}
                        <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Edit" {{action "openEditUserPage" user}}>
                          {{svg-jar "pencil" class="octicon" id="edit-button"}}<span>Edit</span>
                        </a>
                      {{/ddm.item}}
                      {{#ddm.item title="Delete"}}
                        <a class="dropdown-item d-flex-center" style="cursor: pointer" title="Delete" {{action "deleteUser" user}}>
                          {{svg-jar "x" class="octicon" id="delete-button"}}<span>Delete</span>
                        </a>
                      {{/ddm.item}}
                    {{/dd.menu}}
                  {{/bs-dropdown}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{else if (eq page "editUser")}}
    <div class="col-12 mt-5 d-flex flex-column">
      <div>
        {{#bs-button onClick=(action "openMainPage") type="secondary" outline=true title="Back to User List"}}
          {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      <h3 class="mt-4">Edit User</h3>
      {{#bs-form formLayout=formLayout model=this onSubmit=(action "saveUserChanges") as |form|}}
        {{form.element controlType="number" label="ID" property="id_change" disabled=true}}
        {{form.element controlType="text" label="Username" placeholder="Enter New Username" property="username_change"}}
        {{form.element controlType="password" label="Password" placeholder="Enter New Password" property="password_change"}}
        {{#form.element controlType="power-select-multiple" property="roles_change" label="Change Roles" searchEnabled=false loadingMessage="Loading..." options=roles 
        as |el|}}
          {{#el.control 
            onopen=(perform getRoles)  
            as |item|}}
              {{item.descriptor}}
          {{/el.control}}
        {{/form.element}}
        {{bs-button defaultText="Apply Changes" type="primary" buttonType="submit"}}
      {{/bs-form}}
    </div>
  {{/if}}
</div>