<div>
  <h3>User Settings</h3>
  <hr>
  <div class="mt-2">
    {{#bs-form model=this onSubmit=(action "saveSettings") as |form|}}
      {{#each settings as |setting|}}
        {{#if (eq setting.type "boolean")}}
          <div class="d-flex justify-content-between pr-3">
            {{setting.key}}
            {{x-toggle
              theme='skewed'
              value=setting.value
              onToggle=(action (mut setting.value))
            }}
          </div>
        {{else if (eq setting.type "string")}}
          {{form.element controlType="text" label=setting.key property=(concat setting.key "_" user.id)}}
        {{else if (eq setting.type "number")}}
          {{form.element controlType="number" label=setting.key property=(concat setting.key "_" user.id)}}
        {{/if}}
      {{/each}}

      {{#bs-button onClick=(action "saveSettings") type="primary" buttonType="submit"}}
        Save
      {{/bs-button}}
    {{/bs-form}}
  </div>
</div>