<h3 class="popover-header">
  <div style="font-weight:bold;text-align:center;">{{this.name}}</div>
</h3>
<div class="popover-body" style="white-space: nowrap;">
  <table style="width:100%">
    <thead>
      <tr>
        <th>Metric Name</th>
        <th>Snapshot</th>
        <th>/</th>
        <th>Aggregated</th>
        <th>/</th>
        <th>Windowed</th>
      </tr>
    </thead>
    <tbody>
      {{#if this.heatmapConf.heatmapActive}}
        {{#each this.allMetrics as |metric|}}
          {{#if (eq this.heatmapConf.selectedMetric.name metric.metricName)}}
            <tr>
              <td style="font-weight:bold;color:blue;">{{metric.metricName}}:</td>
              <td style="font-weight:bold;color:blue;text-align:center;">
                {{metric.snapshotVal}}
              </td>
              <td></td>
              <td style="font-weight:bold;color:blue;text-align:center;">
                {{metric.contAggVal}}
              </td>
              <td></td>
              <td style="font-weight:bold;color:blue;text-align:center;">
                {{metric.winVal}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td>{{metric.metricName}}:</td>
              <td style="text-align:center;">
                {{metric.snapshotVal}}
              </td>
              <td></td>
              <td style="text-align:center;">
                {{metric.contAggVal}}
              </td>
              <td></td>
              <td style="text-align:center;">
                {{metric.winVal}}
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{else}}
        Activate heatmap to calculate metrics
      {{/if}}
    </tbody>
  </table>
</div>