<h3 class="popover-header">
  <div class="text-center text-break font-weight-bold pl-1">
    Communication Information
  </div>
</h3>
<div class="popover-body">
  <table class="w-100">
    <tbody>
      {{#each @communication.drawableClassCommus as | drawableClassCommu  index |}}
        {{!-- Relationship --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "arrow-switch-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{drawableClassCommu.sourceClass.name}}
            {{#if @communication.bidirectional}}
              {{svg-jar "arrow-both-16" class="octicon align-middle"}}
            {{else}}
              {{svg-jar "arrow-right-16" class="octicon align-middle"}}
            {{/if}}
            {{drawableClassCommu.targetClass.name}}
          </td>
        </tr>
        {{!-- Name --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "comment-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{drawableClassCommu.operationName}}
          </td>
        </tr>
        {{!-- Requests --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{drawableClassCommu.totalRequests}}
          </td>
        </tr>
        {{!-- Source App Name --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "package-dependencies-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            <button type="button" class="buttonToLink" {{on "click" (fn this.loadApplication drawableClassCommu.sourceApp)}}>{{drawableClassCommu.sourceApp.name}}</button>
          </td>
        </tr>
        {{!-- Target App Name --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "package-dependents-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            <button type="button" class="buttonToLink" {{on "click" (fn this.loadApplication drawableClassCommu.targetApp)}}>{{drawableClassCommu.targetApp.name}}</button>
          </td>
        </tr>
        {{#if (lt index (sub @communication.drawableClassCommus.length 1))}}
          <hr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
