<h3 class="popover-header">
  <div class="text-center text-break font-weight-bold pl-1">
    {{@communication.sourceClass.name}}
    {{#if @communication.bidirectional}}
      {{svg-jar "arrow-both-16" class="octicon align-middle"}}
    {{else}}
      {{svg-jar "arrow-right-16" class="octicon align-middle"}}
    {{/if}}
    {{@communication.targetClass.name}}
  </div>
</h3>
<div class="popover-body">
  <table class="w-100">
    <tbody>
      <tr>
        <td class="text-nowrap align-top">{{svg-jar "comment-16" class="octicon align-middle mr-1"}}Name:</td>
        <td class="text-right text-break pl-1">
          {{@communication.operationName}}
        </td>
      </tr>
      <tr>
        <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}Requests:</td>
        <td class="text-right text-break pl-1">
          {{@communication.totalRequests}}
        </td>
      </tr>
      {{#if this.sourceAppsContainApp}}
        <hr>
        {{#each @communication.sourceApplications as | sourceApp | }}
          {{#if (not-eq sourceApp.id @application.id)}}
            <tr>
              <td class="text-nowrap align-top">{{svg-jar "package-dependencies-16" class="octicon align-middle mr-1"}}Source App Name:</td>
              <td class="text-right text-break pl-1">
                <button type="button" class="buttonToLink" {{on "click" (fn this.loadApplication sourceApp)}}>{{sourceApp.name}}</button>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{/if}}
      {{#if this.targetAppsContainApp}}
        <hr>
        {{#each @communication.targetApplications as | targetApp | }}
          {{#if (not-eq targetApp.id @application.id)}}
            <tr>
              <td class="text-nowrap align-top">{{svg-jar "package-dependents-16" class="octicon align-middle mr-1"}}Target App Name:</td>
              <td class="text-right text-break pl-1">
                <button type="button" class="buttonToLink" {{on "click" (fn this.loadApplication targetApp)}}>{{targetApp.name}}</button>
              </td>
            </tr>
          {{/if}}
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>
