<h3 class="popover-header">
  <div class="text-center text-break font-weight-bold pl-1">
    {{this.sourceClazz}}
    {{#if this.isBidirectional}}
      {{svg-jar "arrow-both-16" class="octicon align-middle"}}
    {{else}}
      {{svg-jar "arrow-right-16" class="octicon align-middle"}}
    {{/if}}
    {{this.targetClazz}}
  </div>
</h3>
<div class="popover-body">
  <table class="w-100">
    <tbody>
      <tr>
        <td class="text-nowrap align-top">{{svg-jar "comment-16" class="octicon align-middle mr-1"}}Name:</td>
        <td class="text-right text-break pl-1">
          {{this.operationName}}
        </td>
      </tr>
      <tr>
        <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}Requests:</td>
        <td class="text-right text-break pl-1">
          {{this.requests}}
        </td>
      </tr>
      {{#each this.args.communication.sourceApplications as | sourceApp | }}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "container-16" class="octicon align-middle mr-1"}}Source App Name:</td>
          <td class="text-right text-break pl-1">
            {{this.isCommuDistributed.app.name}}
          </td>
        </tr>
      {{/each}}
      {{!--
      {{#if this.isCommuDistributed}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}{{this.isCommuDistributed.descr}}:</td>
          <td class="text-right text-break pl-1">
            {{this.isCommuDistributed.app.name}}
          </td>
        </tr>
      {{/if}}
      --}}
    </tbody>
  </table>
</div>
