<h3 class="popover-header">
  <div class="text-center text-break font-weight-bold pl-1">
    Communication Information
  </div>
</h3>
<div class="popover-body">
  <table class="w-100">
    <tbody>
      {{!-- Aggregated Information --}}
      {{#if (gt @communication.drawableClassCommus.length 1)}}
        {{!-- Aggregated request count --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{this.calculateAggregatedRequestCount}} ( 100% )
          </td>
        </tr>
        {{!-- # of unique method calls --}}
        <tr>
          <td class="text-nowrap align-top">#</td>
          <td class="text-right text-break pl-1">
            {{@communication.drawableClassCommus.length}}
          </td>
        </tr>
        <hr>
      {{/if}}
      {{#each @communication.drawableClassCommus as | drawableClassCommu  index |}}
        {{!-- Relationship --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "arrow-switch-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{#if (eq drawableClassCommu.sourceApp.id this.application.id)}}
              <button type="button" class="buttonToLink" {{on "click" (fn this.highlightEntity drawableClassCommu.sourceClass)}}>
                {{drawableClassCommu.sourceClass.name}}
              </button>
            {{else}}
              {{drawableClassCommu.sourceClass.name}}
            {{/if}}
            {{#if (not (eq drawableClassCommu.sourceApp.id this.application.id))}}
              (<button type="button" class="buttonToLink" {{on "click" (fn @showApplication drawableClassCommu.sourceApp.id)}}>
                 {{drawableClassCommu.sourceApp.name}}
               </button>)
            {{/if}}
            {{svg-jar "arrow-right-16" class="octicon align-middle"}}
            {{#if (eq drawableClassCommu.targetApp.id this.application.id)}}
              <button type="button" class="buttonToLink" {{on "click" (fn this.highlightEntity drawableClassCommu.targetClass)}}>
                {{drawableClassCommu.targetClass.name}}
              </button>
            {{else}}
              {{drawableClassCommu.targetClass.name}}
            {{/if}}
            {{#if (not (eq drawableClassCommu.targetApp.id this.application.id))}}
              (<button type="button" class="buttonToLink" {{on "click" (fn @showApplication drawableClassCommu.targetApp.id)}}>
                 {{drawableClassCommu.targetApp.name}}
               </button>)
            {{/if}}
          </td>
        </tr>
        {{!-- Name --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "comment-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{drawableClassCommu.operationName}}
          </td>
        </tr>
        {{!-- Requests --}}
        <tr>
          <td class="text-nowrap align-top">{{svg-jar "code-16" class="octicon align-middle mr-1"}}</td>
          <td class="text-right text-break pl-1">
            {{drawableClassCommu.totalRequests}} ( {{round ( mult ( div drawableClassCommu.totalRequests this.calculateAggregatedRequestCount ) 100 ) }}% )
          </td>
        </tr>
        {{#if (lt index (sub @communication.drawableClassCommus.length 1))}}
          <hr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
