{{#if showHiddenMessage}}
  
  <div class="container-fluid">
    <div class="jumbotron">
      <h2>All agents are hidden!</h2>
      <p>Go to Settings an enable 'Show hidden entities' or click <a {{action "enableShowHidden" preventDefault=false}}>here</a>
</p>
    </div>
    <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
      {{ember-spinner}}
    </div>
  </div>

{{else}}

  {{#if agentRepo.agentList}}
    
    <div id="cy" class="container-fluid cytoscape-container"></div>

  {{else}}

    <div class="container-fluid">
      <div class="jumbotron">
        <h2>No agents found!</h2>
        <p>No agent registered with the backend at the moment. A new list will be fetched every 10 seconds.</p>
      </div>
      <div id="spinnerDiv" class="container" style="position:relative; height:20%;">
        {{ember-spinner}}
      </div>
    </div>

  {{/if}}
  
{{/if}}