{{#if showSpinner}}
  <div class="explorVizModal">
    <div class="spinner-center-5" style="color: white">
    </div>
  </div>
{{/if}}


<div class="btn-group align-self-center d-block" role="group">
  <button {{action "saveProcezz"}} type="button" class="btn btn-secondary">Save</button>
  <button {{action "restartProcezz"}} type="button" class="btn btn-secondary">Restart</button>
  <button {{action "stopProcezz"}} type="button" class="btn btn-secondary">Stop</button>
</div>


<div id="discovery-details-tab" class="mt-3">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">
        General
      </a>
      <a class="nav-item nav-link" id="nav-execution-tab" data-toggle="tab" href="#nav-execution" role="tab" aria-controls="nav-execution" aria-selected="false">
        Execution
      </a>
      <a class="nav-item nav-link" id="nav-monitoring-tab" data-toggle="tab" href="#nav-monitoring" role="tab" aria-controls="nav-monitoring" aria-selected="false">
        Monitoring
      </a>
    </div>
  </nav>
  <div class="tab-content">
      <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        {{discovery/procezz-details-tables/general-information procezz=procezz}}
      </div>
      <div class="tab-pane fade" id="nav-execution" role="tabpanel" aria-labelledby="nav-execution-tab">
        {{discovery/procezz-details-tables/execution-information procezz=procezz}}
      </div>
      <div class="tab-pane fade" id="nav-monitoring" role="tabpanel" aria-labelledby="nav-monitoring-tab">
        {{discovery/procezz-details-tables/monitoring-information procezz=procezz}}
      </div>
  </div>
</div>