{{#if showSpinner}}
  <div class="explorVizModal">
    {{ember-spinner lines=11 length=16 radius=30 width=8 rotate=10 speed='1.1' color="#ffffff"}}
  </div>
{{/if}}

<div style="margin-bottom: 5px;" class="button-box text-center">
  <a class="btn btn-info" {{action "saveProcezz"}} role="button">Save</a>
  <a class="btn btn-warning" {{action "restartProcezz"}} role="button">Restart</a>
  <a class="btn btn-primary" {{action "stopProcezz"}} role="button">Stop</a>
</div>

{{#bs-tab as |tab|}}
  {{#tab.pane title="General"}}
    {{discovery/procezz-details-tables/general-information procezz=procezz}}
  {{/tab.pane}}
  {{#tab.pane title="Execution"}}
    {{discovery/procezz-details-tables/execution-information procezz=procezz}}
  {{/tab.pane}}
  {{#tab.pane title="Monitoring"}}
    {{discovery/procezz-details-tables/monitoring-information procezz=procezz}}
  {{/tab.pane}}
{{/bs-tab}}