<div id="ar-settings">
  <div
    class="sidebar-component-close"
    {{on "click" this.close}}
  >
    {{svg-jar "x-16" class="octicon"}}
  </div>

  <hr>

  <div class="arPresetSelectionContainer">
    <div style="display: flex; justify-content:flex-start;">
      <Visualization::PageSetup::Sidebar::ColorSchemeSelector
        @updateView={{@updateView}}
      />
    </div>


    <div id="cameraPresets" class="dropdown">
      <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
      >
        Camera Resolution
      </button>

      <div class="dropdown-menu">
        {{#each this.cameraPresets as |cameraPreset|}}
          <div
          class="dropdown-item pointer-cursor"
          {{on "click" (fn this.updateCameraResoltion cameraPreset.width cameraPreset.height)}}
          >
            {{cameraPreset.name}}
          </div>
        {{/each}}
      </div>
    </div>

    <div id="rendererPresets" class="dropdown">
      <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
      >
        Rendering Resolution
      </button>

      <div class="dropdown-menu">
        {{#each this.renderResolutions as |renderResolution|}}
          <div
          class="dropdown-item pointer-cursor"
          {{on "click" (fn this.updateRendererResoltion renderResolution.multiplier)}}
          >
            {{renderResolution.name}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <hr>

  <div class="arSettingsPropertyContainer">
    <label for="communicationHeightRange" class="form-label">Communication Height</label>
    <div class="arSettingsSliderContainer">
      <Input
          id="communicationHeightRange"
          @type="range"
          @value={{this.configuration.commCurveHeightMultiplier}}
          class="form-range" min="0.0" max="3.0" step="0.2"
          {{on "input" this.updateCommunication}}
      />
      <div class="arSliderLabel">{{this.configuration.commCurveHeightMultiplier}}</div>
    </div>
  </div>

  <div class="arSettingsPropertyContainer">
    <label for="communicationDistanceCheckbox" class="form-label">Depends on Distance</label>
    <div class="arSettingsSliderContainer">
      <Input
          id="communicationDistanceCheckbox"
          @type="checkbox"
          @checked={{this.configuration.commCurveHeightDependsOnDistance}}
          {{on "input" this.toggleApplicationDependsOnDistance}}
      />
    </div>
  </div>

  <hr>

  <div class="arSettingsPropertyContainer">
    <label for="landscapeOpacityRange" class="form-label">Landscape Opacity</label>
    <div class="arSettingsSliderContainer">
      <Input
          id="landscapeOpacityRange"
          @type="range"
          @value={{this.arSettings.landscapeOpacity}}
          class="form-range" min="0.1" max="1.0" step="0.1"
          {{on "input" this.updateLandscapeOpacity}}
      />
      <div class="arSliderLabel">{{this.arSettings.landscapeOpacity}}</div>
    </div>
  </div>

  <div class="arSettingsPropertyContainer">
    <label for="applicationOpacityRange" class="form-label">Application Opacity</label>
    <div class="arSettingsSliderContainer">
      <Input
        id="applicationOpacityRange"
        @type="range"
        @value={{this.arSettings.applicationOpacity}}
        class="form-range" min="0.1" max="1.0" step="0.1"
        {{on "input" this.updateApplicationOpacity}}
      />
      <div class="arSliderLabel">{{this.arSettings.applicationOpacity}}</div>
    </div>
  </div>

  <hr>

  <div class="arSettingsPropertyContainer">
    <label for="buttonSizeRange" class="form-label">Button Size</label>
    <div class="arSettingsSliderContainer">
      <Input
          id="buttonSizeRange"
          @type="range"
          @value={{this.buttonSize}}
          class="form-range" min="1.0" max="16.0" step="1.5"
          {{on "input" this.updateButtonSize}}
      />
    </div>
  </div>

  <div class="arSettingsPropertyContainer">
    <label for="buttonSpacingRange" class="form-label">Button Spacing</label>
    <div class="arSettingsSliderContainer">
      <Input
          id="buttonSpacingRange"
          @type="range"
          @value={{this.buttonPadding}}
          class="form-range" min="0.0" max="10.0" step="1"
          {{on "input" this.updateButtonSpacing}}
      />
    </div>
  </div>
  
</div>
