
<div>
  {{#if this.loadDescriptions.isRunning}}
    <div class="spinner-center-3 mb-5 mt-5" style="position:relative" role="status"></div>
  {{else}}
    <BsForm model={{this}} as |form|>
      {{#each this.settings.flagsetting as |setting|}}
        {{!-- setting.[0] = settingId, setting.[1] = settingValue --}}
        <div class="d-flex justify-content-between pr-3">
          <div>
            <HelpTooltip @title={{get this.descriptions (concat setting.[0] ".description")}} />
            {{get this.descriptions (concat setting.[0] ".displayName")}}
          </div>
          <XToggle
            @theme='skewed'
            @value={{setting.[1]}}
            @onToggle={{action (mut setting.[1])}}
          />
        </div>
      {{/each}}
      {{#each this.settings.rangesetting as |setting index|}}
        <div class="mb-3">
          <HelpTooltip @title={{get this.descriptions (concat setting.[0] ".description")}} />
          <form.element
            class="d-contents"
            @controlType="number"
            @step=".01"
            @label={{get this.descriptions (concat setting.[0] ".displayName")}}
            @value={{setting.[1]}}
            @onChange={{action "onRangeSettingChange" index}}
          />
        </div>
      {{/each}}
    </BsForm>
  {{/if}}
</div>