<BsModal @open={{this.showNewUsers}} @backdropClose={{false}} @keyboard={{false}} @onHidden={{action "hideNewUsersCreatedModal"}} as |modal|>
  <modal.header>
    <h4 class="modal-title">New Users</h4>
  </modal.header>
  <modal.body>
    <div class="alert alert-danger" role="alert">
      <p>Print now using the button below.</p>
      <p>You cannot access the passwords again after closing this window!</p>
      <BsButton @onClick={{action "printNewUsers"}} @type="primary">Print</BsButton>
    </div>
    <table class="table" id="new-user-list">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.createdUsers as |user|}}
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </modal.body>
</BsModal>

<div class="mt-4" style="overflow-y: auto">
  <div class="card">
    <div class="card-body">
      <h3>Create Users</h3>
      <hr>
      <div class="d-flex justify-content-center">
        <BsButtonGroup
          @value={{this.page}}
          @type="radio"
          class="mt-2 mb-2 float-right"
          @onChange={{action (mut this.page)}} as |bg|>
          <bg.button @value="createSingleUser">Single User</bg.button>
          <bg.button @value="createMultipleUsers">Multiple Users</bg.button>
        </BsButtonGroup>
      </div>
      {{#if this.initSettings.isRunning}}
        <div class="spinner-center-3 mb-5 mt-5" style="position:relative" role="status"></div>
      {{else}}
        {{#if (eq this.page "createSingleUser")}}
          <BsForm @model={{this}} @onSubmit={{perform this.saveUser}} as |form|>
            <form.element @controlType="text" @label="Username" @placeholder="Username" @property="username" />
            <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" />
            <form.element @controlType="power-select-multiple" @property="roles_selected_single" @label="Choose Roles" @options={{this.roles}}
            as |el|>
              <el.control 
                @placeholder="Choose roles"
                @loadingMessage="loading..."
                @onopen={{perform this.getRoles}}
                @searchEnabled={{false}}
                @searchField="default"
                as |item|>
                  {{item.id}}
              </el.control>
            </form.element>
            <form.element @label="Settings">
              <div class="card mb-3">
                <div id="settings-card" class="card-body">
                  <UserManagement::UserSettingsDefault
                    @settings={{this.settings}}
                    @useDefaultSettings={{this.useDefaultSettings}}
                  />
                </div>
              </div>
            </form.element>
            {{#if this.saveUser.isRunning}}
              <BsButton @type="primary" @buttonType="submit" @disabled={{true}}>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Creating User...
              </BsButton>
            {{else}}
              <BsButton @defaultText="Create" @type="primary" @buttonType="submit" />
            {{/if}}
          </BsForm>
        {{else if (eq this.page "createMultipleUsers")}}
          <BsForm @model={{this}} @onSubmit={{perform this.saveMultipleUsers}} as |form|>
            <form.element @controlType="text" @label="Username Prefix" @placeholder="Username Prefix" @property="usernameprefix" />
            <form.element @controlType="number" @label="Number of Users" @placeholder="# of users" @property="numberofusers" />
            <form.element @controlType="power-select-multiple" @property="roles_selected_multiple" @label="Choose Roles" @options={{this.roles}}
            as |el|>
              <el.control 
                @placeholder="Choose roles"
                @loadingMessage="loading..."
                @onopen={{perform this.getRoles}}
                @searchEnabled={{false}}
                @searchField="default" 
                as |item|>
                  {{item.id}}
              </el.control>
            </form.element>
            <form.element label="Settings">
              <div class="card mb-3">
                <div id="settings-card" class="card-body">
                  <UserManagement::UserSettingsDefault
                    @settings={{this.settings}}
                    @useDefaultSettings={{this.useDefaultSettings}}
                  />
                </div>
              </div>
            </form.element>
            {{#if this.saveMultipleUsers.isRunning}}
              <BsButton @type="primary" @buttonType="submit" @disabled={{true}}>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Creating Users...
              </BsButton>
            {{else}}
              <BsButton @defaultText="Create" @type="primary" @buttonType="submit" />
            {{/if}}
          </BsForm>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>