<div>
  <h3>User Settings</h3>
  <hr>
  <div class="mt-2">
    {{#if this.initSettings.isRunning}}
      <div class="spinner-center-3" role="status"></div>
    {{else}}
      <UserManagement::UserSettingsDefault
        @settings={{this.settings}}
        @useDefaultSettings={{this.useDefaultSettings}}
      />

      {{#if this.saveSettings.isRunning}}
        <BsButton @type="primary" @buttonType="submit" @disabled={{true}}>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Saving...
        </BsButton>
      {{else}}
        <BsButton @defaultText="Save Changes" @onClick={{perform this.saveSettings}} @type="primary" @buttonType="submit" />
      {{/if}}
    {{/if}}
  </div>
</div>