
<h3>User Data</h3>
<hr>
<BsForm @model={{this}} @onSubmit={{perform this.saveUserChanges}} as |form|>
  <form.element @controlType="text" @label="ID" @property="id_change" @disabled={{true}} />
  <form.element @controlType="text" @label="Username" @placeholder="Enter New Username" @property="username_change" />
  <form.element @controlType="password" @label="Password" @placeholder="Enter New Password" @property="password_change" />
  <form.element
    @controlType="power-select-multiple"
    @property="roles_change"
    @label="Change Roles"
    @searchEnabled={{false}}
    @loadingMessage="Loading..."
    @options={{this.roles}}
  as |el|>
    <el.control
      @onopen={{perform this.getRoles}}
    as |item|>
      {{item}}
    </el.control>
  </form.element>
  {{#if this.saveUserChanges.isRunning}}
    <BsButton @type="primary" @buttonType="submit" @disabled={{true}}>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Saving...
    </BsButton>
  {{else}}
    <BsButton @defaultText="Save Changes" @type="primary" @buttonType="submit" />
  {{/if}}
</BsForm>