{{#each-in @settings as |key value|}}
  <h6>{{capitalize key}}</h6>
  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Use Default Settings
      </div>
      <XToggle
        @theme="skewed"
        @onLabel="Yes"
        @offLabel="No"
        @value={{get @useDefaultSettings key}}
        @onToggle={{fn @toggleDefaultSetting key}}
      />
    </div>
    {{#if (not (get @useDefaultSettings key))}}
      <div class="pt-2">
        <UserManagement::UserSettingsBase
          @settings={{value}}
          @updateSetting={{@updateSetting}}
          @origin={{key}}
        />
      </div>
    {{/if}}
  </div>
  <hr>
{{/each-in}}