<div id="colorPresets" class="dropdown">
  <button class="button-svg-with-hover" type="button">
    {{svg-jar "info-16" class="octicon align-middle"}}
    <BsTooltip @placement="bottom" @triggerEvents="hover">
      Show additional info
    </BsTooltip>
    <BsPopover @title="Additional Info">
      <table class="table table-striped" style="width: 100%">
        <tbody>
          <tr>
            <td>Owner</td>
            <td style="word-break: break-all">
              {{#if (eq @token.ownerId this.auth.user.sub)}}
                You
              {{else}}
                {{@token.ownerId}}
              {{/if}}
            </td>
            <td></td>
          </tr>
          <tr>
            <td>ID</td>
            <td>{{@token.value}}</td>
            <td>
              <CopyButton
                class="button-svg-with-hover"
                @clipboardText={{@token.value}}
                @success={{this.onTokenIdCopied}}
              >
                {{svg-jar "clippy-16" class="octicon align-middle"}}
                <BsTooltip @placement="bottom" @triggerEvents="hover">
                  Copy id to clipboard
                </BsTooltip>
              </CopyButton>
            </td>
          </tr>
          {{#if @token.secret}}
            <tr>
              <td>Secret</td>
              <td style="word-break: break-all">{{@token.secret}}</td>
              <td>
                <CopyButton
                  class="button-svg-with-hover"
                  @clipboardText={{@token.secret}}
                  @success={{this.onTokenSecretCopied}}
                >
                  {{svg-jar "clippy-16" class="octicon align-middle"}}
                  <BsTooltip @placement="bottom" @triggerEvents="hover">
                    Copy secret to clipboard
                  </BsTooltip>
                </CopyButton>
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </BsPopover>
  </button>
</div>
