<table
  id="token-selection-table"
  class="table table-striped"
>
  <thead>
    <tr>
      <th style="cursor: default;" scope="col" {{on "click" (fn this.sortBy "alias")}}>Alias</th>
      <th style="cursor: default;" scope="col" {{on "click" (fn this.sortBy "created")}}>Created</th>
      <th style="cursor: default;" scope="col"></th>
      <th style="cursor: default;" scope="col"></th>
      <th style="cursor: default;" scope="col"></th>
      <th style="cursor: default;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#if @currentToken}}
      <tr
        style="background-color: #aecce1">
        <th style="cursor: default;" scope="row">{{@currentToken.alias}}</th>
        <th style="cursor: default;" scope="row">{{timestamp-to-date @currentToken.created "localString"}}</th>
        <th style="cursor: default;" scope="row"></th>
        <th style="cursor: default;" scope="row"></th>
        <th style="cursor: default;" scope="row"></th>
        <th style="cursor: default;" scope="row"></th>
      </tr>
      <tr
        style="height: 10px"
      >
      </tr>
    {{/if}}
    {{#each
      (sort-by (concat this.sortProperty ":" this.sortOrder) "value" @tokens)
    as |token|
    }}
      <tr>
        <th style="cursor: default;" scope="row">{{token.alias}}</th>
        <th style="cursor: default;" scope="row">{{timestamp-to-date token.created "localString"}}</th>
        <th style="cursor: default;" scope="row">
          <button
            class="button-svg-with-hover"
            type="button"
            {{on "click" (fn @selectToken token)}}
          >
            {{svg-jar "search-16" class="octicon align-middle"}}
            <BsTooltip @placement="bottom" @triggerEvents="hover">
              Open visualization
            </BsTooltip>
          </button>
        </th>
        <th style="cursor: default;" scope="row">
          <AdditionalTokenInfo @token={{token}}/>
        </th>
        <th style="cursor: default;" scope="row">
          {{#if (eq token.ownerId this.auth.user.sub)}}
            <button
              class="button-svg-with-hover"
              type="button"
              {{on "click" (fn @deleteToken token.value)}}
            >
              {{svg-jar "trash-16" class="octicon align-middle"}}
              <BsTooltip @placement="bottom" @triggerEvents="hover">
                Delete token permanently
              </BsTooltip>
            </button>
          {{/if}}
        </th>
        <th style="cursor: default;" scope="row">
          <ShareLandscape
            @token={{token}}
            @reload={{@reload}}
          />
        </th>
      </tr>
    {{else}}
      There are no tokens linked to your account at the moment.
    {{/each}}
  </tbody>
</table>
