<table id="token-selection-table" class="table table-striped" style="min-width: 400px; width: auto;">
  <thead>
    <tr>
      <th scope="col" {{on "click" (fn this.sortBy "id")}}>ID</th>
      <th scope="col" {{on "click" (fn this.sortBy "alias")}}>Alias</th>
      <th scope="col" {{on "click" (fn this.sortBy "creationDate")}}>Date created</th>
      <th scope="col" {{on "click" (fn this.sortBy "lastUpdated")}}>Last updated</th>
    </tr>
  </thead>
  <tbody>
    {{#if @currentToken}}
      <tr
        style="background-color: #aecce1"
        {{on "click" (fn @selectToken @currentToken)}}
      >
        <th scope="row" class="text-center">{{@currentToken.id}}</th>
        <td>{{@currentToken.alias}}</td>
        <td>{{@currentToken.creationDate}}</td>
        <td>{{@currentToken.lastUpdated}}</td>
      </tr>
      <tr
        style="height: 10px"
      >
      </tr>
    {{/if}}
    {{#each
      (sort-by (concat this.sortProperty ":" this.sortOrder) "id" @tokens)
    as |token|
    }}
      <tr {{on "click" (fn @selectToken token)}} >
        <th scope="row">{{token.id}}</th>
        <td>{{token.alias}}</td>
        <td>{{token.creationDate}}</td>
        <td>{{token.lastUpdated}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>