<div id="exp-navbar-adv">
  <span class="d-flex-center">
    {{svg-jar "person" class="octicon"}}
    <span><b>{{this.currentUser.username}}</b></span>
  </span>
  {{#link-to "configuration" class="d-flex-center" title="Configuration"}}
    {{svg-jar "gear" class="octicon"}}<span>Configuration</span>
  {{/link-to}}
  <a style="cursor: pointer" class="d-flex-center" {{action (route-action 'logout')}} title="Logout">
    {{svg-jar "sign-out" class="octicon"}}<span>Logout</span>
  </a>
</div>