<div
  class="p-3 disable-select pointer-events-none"
  style="position: absolute; width: 100vw; z-index: 100;"
>
  <img
    style="height: 30px; float: left"
    src="images/explorviz-30px.png"
    alt="ExplorViz"
    draggable="false"
  >
  {{#if this.tokenService.token}}
    <div class="navbar-token-link pointer-events-all d-none d-md-block">
      <LinkTo @route="landscapes" class="d-flex-center">
        {{svg-jar "key-16" class="octicon"}}
        <span>{{this.tokenService.token.alias}}</span>
      </LinkTo>
    </div>
  {{/if}}
  <div id="navbar-user-options" class="btn-group pointer-events-all">
    <BsDropdown @closeOnMenuClick={{false}} as |dd|>
      <dd.toggle class="d-flex align-items-center navbar-user-button">
        {{!-- template-lint-disable require-valid-alt-text --}}
        <img id="avatar" class="pointer-events-none" src={{this.auth.user.picture}}>
        <span class="caret ml-1"></span>
      </dd.toggle>
      <dd.menu @align="right" class="ml-3 mr-3 ml-md-0 mr-md-0" as |ddm|>
        <div class="dropdown-header">
          <div><strong class="truncate-text">{{this.auth.user.nickname}}</strong></div>
          <span class="truncate-text">{{this.auth.user.sub}}</span>
        </div>
        <ddm.divider></ddm.divider>
        {{#if this.tokenService.token}}
          <ddm.item>
            <ddm.link-to
              class="truncate-text d-flex-center d-md-none"
              @route="landscapes"
              {{on "click" dd.closeDropdown}}
            >
              {{svg-jar "key-16" class="octicon"}}
              <span>{{this.tokenService.token.alias}}</span>
            </ddm.link-to>
          </ddm.item>
          <ddm.divider class="d-md-none"></ddm.divider>
        {{/if}}
        <ddm.item>
          <button
            class="dropdown-item"
            type="button"
            {{on "click" this.logout}}
          >
            Logout
          </button>
        </ddm.item>
        <ddm.divider class="d-md-none"></ddm.divider>
        <ddm.item>
          <div class="dropdown-item disabled">
            Version: {{this.versionTag}}
          </div>
        </ddm.item>
      </dd.menu>
    </BsDropdown>
  </div>
</div>