<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Is stopped?</b>{{help-tooltip title="Flag that indicates if the process is stopped."}}</td>
      <td>        
        {{procezz.stopped}}
      </td>
    </tr>
    <tr>
      <td><b>Working Directory</b>{{help-tooltip title="Shows the file system directory of the process. Some processes don't contain the absolute path to their execution artifact. Therefore, this attribute might be a hint on how to start a process."}}</td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
          {{workingDirectory}}
        </div>
      </td>
    </tr>
    <!-- Use Shutdown Command in next version of agent
    <tr>
      <td>
        <b>Shutdown Command</b>                  
      </td>
      <td>
        {{textarea rows=1 class="form-control no-horizontal-scroll" value=procezz.shutdownCommand placeholder=procezz.shutdownCommand}}
      </td>
    </tr>
    -->
    <tr>
      <td>
        <b>User Execution Command</b>
        {{help-tooltip title="The User Execution Command has a higher priority than the OS Execution Command when restarting a process. It might be filled with content. Press the button to insert this recommendation. Always double check this execution command."}}      
      </td>
      <td>
        {{textarea rows=1 class="form-control no-horizontal-scroll" value=procezz.userExecutionCommand placeholder=procezz.proposedExecutionCommand}}

        <button type="button" class="btn btn-success" style="margin-top: 20px;" {{action "setUserExec"}}>Insert recommendation</button>
      </td>
    </tr>
    <tr>
      <td>
        <b>Agend Execution Command</b>
        {{help-tooltip title="If filled, this attribute shows the execution command that was internally used by the agent to restart this process. It is based on the User or OS Execution command. This attribute is only for your information."}}
      </td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">{{procezz.agentExecutionCommand}}
        </div>          
      </td>
    </tr>
    <tr>
      <td><b>OS (initial) Execution Command</b>{{help-tooltip title="This attribute holds the Operating System execution command that was found by the agent for this process."}}</td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">{{procezz.osExecutionCommand}}
        </div>
      </td>
    </tr>           
  </tbody>
</table>