<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td><b>Programming language</b>{{help-tooltip title="Underlying programming language for this procezz"}}</td>
    <td>{{procezz.programmingLanguage}}</td>
  </tr>
    <tr>
      <td><b>Internal ID</b>{{help-tooltip title="Entity ID used by ExplorViz"}}</td>
      <td>{{procezz.id}}</td>
    </tr>
    <tr>
      <td><b>OS Process ID (PID)</b>{{help-tooltip title="Unique Process ID from Operating System. Will be updated if process is restarted."}}</td>
      <td>{{procezz.pid}}</td>
    </tr>
    <tr>
      <td><b>Last Discovery Time</b>{{help-tooltip title="Last time this process was discovered. Does not show actual start time of process, but date when agent discovered this process."}}</td>
      <td>{{lastDiscoveryTimeAsDate}}</td>
    </tr>
    <tr>
      <td><b>Name</b>{{help-tooltip title="Name attribute has a higher priority than PID in all views. This attribute will also be considered for monitoring. If it's not filled, a monitored application will be named after the PID."}}</td>
      <td>
        {{input class="form-control" value=procezz.name}}
      </td>
    </tr>
    <tr>
      <td><b>Is web server?</b>{{help-tooltip title="Mark a process as web server. This attribute is only for your information."}}</td>
      <td>
        <div style="float: left;">                  
          {{x-toggle theme='skewed' onLabel='Yes' offLabel='No' value=toggleStateWebServer onToggle=(action (mut toggleStateWebServer))}}
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Hide process?</b>{{help-tooltip title="Hide this process. It will not be visible on the overview page. Enable 'Show hidden entities' in settings dialog to undo."}}</td>
      <td>
        <div style="float: left;">                
          {{x-toggle theme='skewed' onLabel='Yes' offLabel='No' value=toggleIsHidden onToggle=(action (mut toggleIsHidden))}}
        </div>
      </td>
    </tr>
    {{#if procezz.errorOccured}}
      <tr>
        <td><b><font color="red">Error message</font></b>{{help-tooltip title="An error occured. The message might be a hint on what's wrong."}}</td>
        <td>
          <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
            <font color="red">{{procezz.errorMessage}}</font>
          </div>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>