<button type="button" class="btn" style="align-items: center">&lt;</button>
{{#ember-scrollable}}
  <div class="pr-3 ml-2">
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
    {{#each content as |componentName|}}
      <div class="card mb-3 pr-3">
        <div class="card-body">
          {{componentName}}
        </div>
      </div>
    {{/each}}
  </div>
{{/ember-scrollable}}