
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">TraceID</th>
      <th scope="col">Requests</th> 
      <th scope="col">Duration(ns)</th>
      <th scope="col">Avg. Resp. Time(ns)</th>
    </tr>
  </thead>
  <tbody>
    {{#each traces as |trace|}}
      {{#if trace.isSelected}}
        <tr {{action "traceSelected" trace.traceId}} style="cursor: pointer" bgcolor="#cc8a8a">
          <th scope="row">{{trace.traceId}}</th>
          <td>{{trace.totalRequests}}</td>
          <td>{{trace.totalTraceDuration}}</td>
          <td>{{trace.averageResponseTime}}</td>
        </tr>
      {{else}}
        <tr {{action "traceSelected" trace.traceId}} style="cursor: pointer">
          <th scope="row">{{trace.traceId}}</th>
          <td>{{trace.totalRequests}}</td>
          <td>{{trace.totalTraceDuration}}</td>
          <td>{{trace.averageResponseTime}}</td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>