<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#each content as |compName|}}
          <li>
            {{component compName}}
          </li>
        {{/each}}
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a {{action "toggleTimeline"}} title="Toggle timeline">
            <span id="toggleTimelineButton" 
            class="glyphicon glyphicon-resize-vertical"></span>
          </a>
        </li>      
     </ul>
      <form {{action 'focusEntity' on="submit"}} class="navbar-form navbar-left" role="search">
          <div class="form-group">
            {{input value=searchString placeholder="Search Entity" class="form-control" }}
          </div>
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          <button class="btn btn-default" {{action "openAllComponents"}}> Open All Components
          </button>
      </form>
    </div>< /.navbar-collapse 
  </div> /.container-fluid 
</nav>-->