<li class="nav-item">
  {{#if this.landscapeListener.pauseVisualizationReload}}
    <a class="nav-link-with-cursor" title="Resume Visualization" {{on "click" this.toggleVisualizationReload}}>
      {{svg-jar "history" class="octicon align-middle navbar-highlight"}}
    </a>
  {{else}}
    <a class="nav-link-with-cursor" title="Pause Visualization" {{on "click" this.toggleVisualizationReload}}>
      {{svg-jar "history" class="octicon align-middle"}}
    </a>
  {{/if}}
</li>