<li class="nav-item">
  {{#if @visualizationPaused}}
    <div
      class="nav-link-with-cursor"
      title="Resume Visualization"
      {{on "click" @toggleVisualizationUpdating}}
    >
      {{svg-jar "history" class="octicon align-middle navbar-highlight"}}
    </div>
  {{else}}
    <div
      class="nav-link-with-cursor"
      title="Pause Visualization"
      {{on "click" @toggleVisualizationUpdating}}
    >
      {{svg-jar "history" class="octicon align-middle"}}
    </div>
  {{/if}}
</li>