<div class="sidebar-component-close">
  <button 
    type="button" 
    class="sidebar-component-close-button" 
    title="Close Color Configuration"
    {{on "click" this.close}}
  >
    {{svg-jar "x" class="octicon"}}
  </button>
</div>

<div class="sidebar-component-title">
  <h5>Color Configuration</h5>
</div>

<div class="container">

  <div class="dropdown">
    <button 
      class="btn btn-secondary dropdown-toggle" 
      type="button" 
      id="dropdownMenuButton" 
      data-toggle="dropdown"
      aria-haspopup="true" 
      aria-expanded="false"
    >
      Presets
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a 
        class="dropdown-item" 
        href="#" 
        name="defaultScheme" 
        {{on "click" (fn this.applyColorScheme "default")}}
      >
        Default Color Scheme
      </a>
      <a 
        class="dropdown-item" 
        href="#" 
        name="impairedScheme"
        {{on "click" (fn this.applyColorScheme "impaired")}}
      >
        Vision Impairment Color Scheme
      </a>
    </div>
  </div>

  {{#if @isLandscapeView}}

    {{#each-in this.configuration.landscapeColors as |key color|}}
      <div id={{concat "cp-landscape-" key}} class="row">
        <span>
          <Input 
            @type="color" 
            @value={{mut (get this.landscapeColors key)}}
            {{on "change" this.updateColors}}
          />
        </span>
        <span>{{format-color-property key}}</span>
      </div>
    {{/each-in}}

  {{else}}

    {{#each-in this.configuration.applicationColors as |key color|}}
      <div id={{concat "cp-application-" key}} class="row">
        <span>
          <Input 
            @type="color" 
            @value={{mut (get this.appColors key)}}
            {{on "change" this.updateColors}}
          />
        </span>
        <span>{{format-color-property key}}</span>
      </div>
    {{/each-in}}
  {{/if}}
</div>