<div
  class="sidebar-component-close"
  {{on "click" this.close}}
>
  {{svg-jar "x-16" class="octicon"}}
</div>

<div id="colorHeader">
  <div id="colorPresets" class="dropdown">
    <button
      class="btn btn-outline-dark dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Presets
    </button>
    <div class="dropdown-menu">
      <div
        class="dropdown-item pointer-cursor"
        name="defaultScheme"
        {{on "click" (fn this.applyColorScheme "default")}}
      >
        Default
      </div>
      <div
        class="dropdown-item pointer-cursor"
        name="impairedScheme"
        {{on "click" (fn this.applyColorScheme "impaired")}}
      >
        Vision Impairment
      </div>
      <div
        class="dropdown-item pointer-cursor"
        name="classicScheme"
        {{on "click" (fn this.applyColorScheme "classic")}}
      >
        Classic
      </div>
      <div
        class="dropdown-item pointer-cursor"
        name="darkScheme"
        {{on "click" (fn this.applyColorScheme "dark")}}
      >
        Dark
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  {{#if @isLandscapeView}}

    {{#each (entries this.configuration.landscapeColors) as |entry|}}
      <div
        id={{concat "cp-landscape-" (get entry 0)}}
        class="input-group justify-content-between"
        {{did-insert (fn this.setupLandscapeColorpicker (get entry 0))}}
      >
        <span class="colorpicker-label">{{format-color-property (get entry 0)}}</span>
        <span class="input-group-append colorpicker-input">
          <span class="input-group-text colorpicker-input-addon"><i></i></span>
        </span>
      </div>
    {{/each}}

  {{else}}

    {{#each (entries this.configuration.applicationColors) as |entry|}}
      <div
        id={{concat "cp-application-" (get entry 0)}}
        class="input-group justify-content-between"
        {{did-insert (fn this.setupApplicationColorPicker (get entry 0))}}
      >
        <span class="colorpicker-label">{{format-color-property (get entry 0)}}</span>
        <span class="input-group-append colorpicker-input">
          <span class="input-group-text colorpicker-input-addon"><i></i></span>
        </span>
      </div>
    {{/each}}
  {{/if}}
</div>