<div class="mt-3">
  <h6 class="mb-3"><strong>Flag Settings</strong></h6>
  <div class="ml-3">
    {{#each-in this.userSettings.settings.flags as |name setting|}}
      <Visualization::PageSetup::Sidebar::Settings::FlagSetting
        @setting={{setting}}
        @onChange={{fn this.updateFlagSetting name}}
      />
    {{/each-in}}
  </div>

  <hr>

  <h6 class="mb-3"><strong>Range Settings</strong></h6>
  <div class="ml-3">
    {{#each-in this.userSettings.settings.ranges as |name setting|}}
      <Visualization::PageSetup::Sidebar::Settings::RangeSetting
        @setting={{setting}}
        @onChange={{fn this.updateRangeSetting name}}
      />
    {{/each-in}}
  </div>

  <hr>

  <h6 class="mb-3"><strong>Color Settings</strong></h6>
  <div class="ml-3">
    <Visualization::PageSetup::Sidebar::ColorPicker
      @isLandscapeView={{@isLandscapeView}}
      @updateColors={{@updateColors}}
    />
  </div>
</div>
