<div class="sidebar-component-close">
  <button
    type="button"
    class="sidebar-component-close-button"
    title="Close Database Queries"
    {{on "click" this.close}}
  >
    {{svg-jar "x-16" class="octicon"}}
  </button>
</div>

<div class="sidebar-component-title">
  <h5>Database Queries</h5>
</div>

<div class="mt-2 mb-1 d-flex justify-content-end">
  <div>
    <Input
      id="filterInput"
      class="form-control input-lg"
      autofocus="autofocus"
      @value={{this.filterInput}}
      @placeholder="Filter statements"
      @focus-out={{this.filter}}
      @enter={{this.filter}}
    />
  </div>
  <div>
    <BsButton @onClick={{this.filter}} @type="button" class="ml-1 btn btn-light">
      {{svg-jar "search-16" class="octicon align-middle"}}
    </BsButton>
  </div>
</div>

<div id="sqlScrollDiv" style="max-height:500px; overflow:auto; width:100%;">
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th {{on "click" (fn this.sortByProperty "timestamp")}} scope="col">Time</th>
        <th {{on "click" (fn this.sortByProperty "sqlStatement")}} scope="col">Statement</th>
        <th {{on "click" (fn this.sortByProperty "statementType")}} scope="col">Statement Type</th>
        {{!-- <th {{action "sortByProperty" "returnValue"}} scope="col">Return Value</th> --}}
        <th {{on "click" (fn this.sortByProperty "responseTime")}} scope="col">
          Response Time in
          <BsButton 
            onClick={{this.toggleResponseTimeUnit}}
            class="th-btn"
            outline={{true}}
          >
            {{this.responseTimeUnit}}
          </BsButton>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.databaseQueries as |query|}}
        {{#if query.isSelected}}
          <tr
            style="cursor: pointer"
            bgcolor="#cc8a8a"
            {{on "click" (fn this.queryClicked query)}}
          >
            <th scope="row" title={{timestamp-to-date query.timestamp "localString"}}>
              {{timestamp-to-date query.timestamp "time"}}
            </th>
            <td title={{query.sqlStatement}}>{{first-word query.sqlStatement}} ...</td>
            <td title={{query.statementType}}>{{truncate query.statementType 10 true}}</td>
            {{!-- <td title={{query.returnValue}}>{{query.returnValue}}</td> --}}
            <td title={{query.responseTime}}>{{format-number query.responseTime this.responseTimeUnit}}</td>
          </tr>
        {{else}}
          <tr {{on "click" (fn this.queryClicked query)}} style="cursor: pointer">
            <th scope="row" title={{timestamp-to-date query.timestamp "localString"}}>
              {{timestamp-to-date query.timestamp "time"}}
            </th>
            <td title={{query.sqlStatement}}>{{first-word query.sqlStatement}} ...</td>
            <td title={{query.statementType}}>{{truncate query.statementType 10 true}}</td>
            {{!-- <td title={{query.returnValue}}>{{query.returnValue}}</td> --}}
            <td title={{query.responseTime}}>{{format-number query.responseTime this.responseTimeUnit}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#each this.landscapeRepo.latestApplication.databaseQueries as |query|}}
  {{#if query.isSelected}}
    <hr>
    <h5 align="center">Query Details</h5>
    <table class="table table-striped">
      <tbody>
        <tr class="d-flex">
          <th class="col-3">Time</th>
          <td class="col-9 container-word-wrap">{{timestamp-to-date query.timestamp "localString"}}</td>
        </tr>
        <tr class="d-flex">
          <th class="col-3">Statement</th>
          <td class="col-9 container-word-wrap">{{query.sqlStatement}}</td>
        </tr>
        <tr class="d-flex">
          <th class="col-3">Type</th>
          <td class="col-9 container-word-wrap">{{query.statementType}}</td>
        </tr>
        <tr class="d-flex">
          <th class="col-3">Return Value</th>
          <td class="col-9 container-word-wrap">{{query.returnValue}}</td>
        </tr>
        <tr class="d-flex">
          <th class="col-3">
            Response Time in
            <BsButton
              @onClick={{this.toggleResponseTimeUnit}}
              class="th-btn"
              @outline={{true}}
            >
              {{this.responseTimeUnit}}
            </BsButton>
          </th>
          <td class="col-9 container-word-wrap">{{format-number query.responseTime this.responseTimeUnit}}</td>
        </tr>
      </tbody>
    </table>
  {{/if}}
{{/each}}