<div
  class="sidebar-component-close"
  {{on "click" this.close}}
>
  {{svg-jar "x-16" class="octicon"}}
</div>

<Visualization::PageSetup::Sidebar::TraceSelection
  @moveCameraTo={{@moveCameraTo}}
  @selectTrace={{this.selectTrace}}
  @dynamicData={{@dynamicData}}
  @structureData={{@structureData}}
  @application={{@application}}
  @applicationTraces={{this.applicationTraces}}
  @selectedTrace={{this.selectedTrace}}
/>

{{#if this.selectedTrace}}
  <Visualization::PageSetup::Sidebar::TraceReplayer::TraceReplayerMain
    @selectedTrace={{this.selectedTrace}}
    @structureData={{@structureData}}
    @dynamicData={{@dynamicData}}
    @highlightTrace={{@highlightTrace}}
    @moveCameraTo={{@moveCameraTo}}
  />
{{/if}}