<div class="container" id="heatmap-config">
  <h4>Rendering configuration</h4>

  <div class="pl-3 py-2">
    <div class="d-flex justify-content-between pr-1">
      <div>
        Choose heatmap type
        <HelpTooltip
          @title={{this.descriptions.heatmapMode}}
          @placement="right"
        />
      </div>
      <div class="align-items-end">
        <PowerSelect
          @options={{this.heatmapModes}}
          @selected={{this.selectedMode}}
          @onchange={{this.setHeatmapMode}}
          @placeholder="Select heatmap mode..."
          @searchEnabled={{false}}
          @matchTriggerWidth={{false}} as |heatmapMode|
        >
          {{heatmapMode.name}}
        </PowerSelect>
      </div>
    </div>
  </div>

  <div class="pl-3">
    <div class="d-flex justify-content-between">
      <div>
        Set heatmap point radius
        <HelpTooltip
          @title={{this.descriptions.heatmapRadius}}
          @placement="right"
        />
      </div>
      <BsForm model={{this}} as |form|>
        <form.element
          class="d-contents"
          @controlType="number"
          @step="1"
          @value={{this.heatmapConf.heatmapRadius}}
          @onChange={{this.onHeatmapRadiusChange}}
        />
      </BsForm>
    </div>
  </div>

  <div class="pl-3 py-2">
    <div class="d-flex justify-content-between">
      <div>
        Set heatmap blur radius
        <HelpTooltip
          @title={{this.descriptions.blurRadius}}
          @placement="right"
        />
      </div>
      <BsForm model={{this}} as |form|>
        <form.element
          class="d-contents"
          @controlType="number"
          @step="1"
          @value={{this.heatmapConf.blurRadius}}
          @onChange={{this.onBlurRadiusChange}}
        />
      </BsForm>
    </div>
  </div>

  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Show helper lines
        <HelpTooltip
          @title={{this.descriptions.helperLines}}
          @placement="right"
        />
      </div>
      <XToggle
        @theme="skewed"
        @onLabel="Yes"
        @offLabel="No"
        @value={{this.heatmapConf.useHelperLines}}
        @onToggle={{this.toggleHelperLines}}
      />
    </div>
  </div>

  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Show legend values
        <HelpTooltip
          @title={{this.descriptions.showLegendValues}}
          @placement="right"
        />
      </div>
      <XToggle
        @theme="skewed"
        @onLabel="Yes"
        @offLabel="No"
        @value={{this.heatmapConf.showLegendValues}}
        @onToggle={{this.toggleLegendValues}}
      />
    </div>
  </div>


  <div class="d-flex justify-content-between pr-3 mt-5">
    <div>
      <h4>
        Simpleheat gradient configuration
        <HelpTooltip
          @title={{this.descriptions.shGradient}}
          @placement="right"
        />
      </h4>
    </div>
    <XToggle
      @theme="flat"
      @value={{this.showSimpleHeatSettings}}
      @onToggle={{this.toggleSimpleHeatSettings}}
    />
  </div>
  {{#if this.showSimpleHeatSettings}}
    <div class="row mb-1 pr-3">
      {{#each-in this.heatmapConf.simpleHeatGradient as |key|}}
        <div class="col-md-4 col-lg-2 col-xl-2 mt-3">
          <div>
            Stop value: {{revert-key key "_" "."}}
          </div>
          <div id={{concat "sh-gradient-" key}} class="input-group">
            <Input
              id="simpleHeatGradientInput"
              @type="text"
              class="form-control input-lg"
              @value={{get this.heatmapConf.simpleHeatGradient key}}
            />
          </div>
        </div>
      {{else}}
        ERR: Gradient is empty.
      {{/each-in}}
    </div>
    <div class="d-flex justify-content-end pr-3">
      <BsButton
        class="float-right"
        @type="primary"
        @onClick={{this.resetSimpleHeatGradient}}
      >
        Reset to default
      </BsButton>
    </div>
  {{/if}}
</div>