<div class="container" id="heatmap-config" style="overflow-y: auto">
  <h4>Rendering configuration</h4>

  <div class="pl-3 py-2">
    <div class="d-flex justify-content-between pr-1">
      <div>
        Choose heatmap type
        <HelpTooltip
          @title={{this.descriptions.heatmapMode}}
          @placement="right"
        />
      </div>
      <div class="align-items-end">
        <PowerSelect
          @options={{this.heatmapModes}}
          @selected={{this.selectedMode}}
          @onchange={{this.setHeatmapMode}}
          @placeholder="Select heatmap mode..."
          @searchEnabled={{false}}
          @matchTriggerWidth={{false}} as |heatmapMode|
        >
          {{heatmapMode.name}}
        </PowerSelect>
      </div>
    </div>
  </div>

  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Choose visualization style
        <HelpTooltip
          @title={{this.descriptions.visualizationMode}}
          @placement="right"
        />
      </div>
      <div>
        <XToggle
          @theme="skewed"
          @onLabel="simple"
          @offLabel="array"
          @value={{this.heatmapRepo.useSimpleHeat}}
          @onToggle={{this.toggleSimpleHeat}}
        />
      </div>
    </div>
  </div>

  {{#if this.heatmapRepo.useSimpleHeat}}
    <div class="pl-3">
      <div class="d-flex justify-content-between">
        <div>
          Set heatmap point radius
          <HelpTooltip
            @title={{this.descriptions.heatmapRadius}}
            @placement="right"
          />
        </div>
        <BsForm model={{this}} as |form|>
          <form.element
            class="d-contents"
            @controlType="number"
            @step="1"
            @value={{this.heatmapRepo.heatmapRadius}}
            @onChange={{this.onHeatmapRadiusChange}}
          />
        </BsForm>
      </div>
    </div>

    <div class="pl-3 py-2">
      <div class="d-flex justify-content-between">
        <div>
          Set heatmap blur radius
          <HelpTooltip
            @title={{this.descriptions.blurRadius}}
            @placement="right"
          />
        </div>
        <BsForm model={{this}} as |form|>
          <form.element
            class="d-contents"
            @controlType="number"
            @step="1"
            @value={{this.heatmapRepo.blurRadius}}
            @onChange={{this.onBlurRadiusChange}}
          />
        </BsForm>
      </div>
    </div>
  {{/if}}

  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Show helper lines
        <HelpTooltip
          @title={{this.descriptions.helperLines}}
          @placement="right"
        />
      </div>
      <XToggle
        @theme="skewed"
        @onLabel="Yes"
        @offLabel="No"
        @value={{this.heatmapRepo.useHelperLines}}
        @onToggle={{this.toggleHelperLines}}
      />
    </div>
  </div>

  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Show legend values
        <HelpTooltip
          @title={{this.descriptions.showLegendValues}}
          @placement="right"
        />
      </div>
      <XToggle
        @theme="skewed"
        @onLabel="Yes"
        @offLabel="No"
        @value={{this.heatmapRepo.showLegendValues}}
        @onToggle={{this.toggleLegendValues}}
      />
    </div>
  </div>


  <div class="d-flex justify-content-between pr-3 mt-5">
    <div>
      <h4>
        Simpleheat gradient configuration
        <HelpTooltip
          @title={{this.descriptions.shGradient}}
          @placement="right"
        />
      </h4>
    </div>
    <XToggle
      @theme="flat"
      @value={{this.showSimpleHeatSettings}}
      @onToggle={{this.toggleSimpleHeatSettings}}
    />
  </div>
  {{#if this.showSimpleHeatSettings}}
    <div class="row mb-1 pr-3">
      {{#each-in this.heatmapRepo.simpleHeatGradient as |key|}}
        <div class="col-md-4 col-lg-2 col-xl-2 mt-3">
          <div>
            Stop value: {{revert-key key "_" "."}}
          </div>
          <div id={{concat "sh-gradient-" key}} class="input-group">
            <Input
              type="text"
              class="form-control input-lg"
              @value={{get this.heatmapRepo.simpleHeatGradient key}}
            />
          </div>
        </div>
      {{else}}
        ERR: Gradient is empty.
      {{/each-in}}
    </div>
    <div class="d-flex justify-content-end pr-3">
      <BsButton
        class="float-right"
        @type="primary"
        @onClick={{this.resetSimpleHeatGradient}}
      >
        Reset to default
      </BsButton>
    </div>
  {{/if}}

  <div class="d-flex justify-content-between pr-3 mt-5">
    <div>
      <h4>
        Array heatmap gradient configuration
        <HelpTooltip
          @title={{this.descriptions.ahGradient}}
          @placement="right"
        />
      </h4>
    </div>
    <XToggle
      @theme="flat"
      @value={{this.showArrayHeatSettings}}
      @onToggle={{this.toggleArraySettings}}
    />
  </div>
  {{#if this.showArrayHeatSettings}}
    <div class="row">
      {{#each-in this.heatmapRepo.arrayHeatGradient as |key val|}}
        <div class="col-md-4 col-lg-2 col-xl-2 mt-3">
          <div>
            Stop value: {{revert-key key "_" "."}}
          </div>
          <div id={{concat "ah-gradient-" key}} class="input-group">
            <Input
              class="form-control input-lg"
              type="text"
              @value={{get this.heatmapRepo.arrayHeatGradient key}}
            />
          </div>
        </div>
      {{else}}
        ERR: Gradient is empty.
      {{/each-in}}
    </div>
    <div class="d-flex justify-content-end pr-3">
      <BsButton
        class="float-right"
        @type="primary"
        @onClick={{this.resetArrayHeatGradient}}
      >
        Reset to default
      </BsButton>
    </div>
  {{/if}}
</div>