{{#if @popupData}}
  <div class="popover" {{did-insert this.setPopupPosition}}>
    {{!-- landscape popups --}}
    {{#if (eq @popupData.popupType "system")}}
      <Visualization::Rendering::Popups::LandscapePopups::SystemPopup
        @data={{@popupData}}
      />
    {{/if}}
    {{#if (eq @popupData.popupType "nodeGroup")}}
      <Visualization::Rendering::Popups::LandscapePopups::NodegroupPopup
        @data={{@popupData}}
      />
    {{/if}}
    {{#if (eq @popupData.popupType "node")}}
      <Visualization::Rendering::Popups::LandscapePopups::NodePopup
        @data={{@popupData}}
      />
    {{/if}}
    {{#if (eq @popupData.popupType "application")}}
      <Visualization::Rendering::Popups::LandscapePopups::ApplicationPopup
        @data={{@popupData}}
      />
    {{/if}}
    {{#if (eq @popupData.popupType "applicationCommunication")}}
      <Visualization::Rendering::Popups::LandscapePopups::LandscapeCommunicationPopup
        @data={{@popupData}}
      />
    {{/if}}

    {{!-- application popups --}}
    {{#if (eq @popupData.entity.constructor.name "Component")}}
      <Visualization::Rendering::Popups::ApplicationPopups::ComponentPopup
        @component={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "Clazz")}}
      <Visualization::Rendering::Popups::ApplicationPopups::ClazzPopup
        @clazz={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "DrawableClazzCommunication")}}
      <Visualization::Rendering::Popups::ApplicationPopups::CommunicationPopup
        @communication={{@popupData.entity}}
      />
    {{/if}}
  </div>
{{/if}}