{{!-- template-lint-disable no-down-event-binding --}}
<div
  class="popover"
  {{on "mousedown" this.dragMouseDown}}
  {{did-insert this.setPopupPosition}}
>
  <BsButton
    @type="primary"
    @onClick={{fn @pinPopup @popupData.entity.id}}
  >
    Pin
  </BsButton>
  <BsButton
    @type="secondary"
    @onClick={{fn @removePopup @popupData.entity.id}}
  >
    Close
  </BsButton>
  {{!-- landscape popups --}}
  {{#if (eq this.entityType "node")}}
    <Visualization::Rendering::Popups::LandscapePopups::NodePopup
      @node={{@popupData.entity}}
    />
  {{/if}}
  {{#if (eq this.entityType "application")}}
    <Visualization::Rendering::Popups::LandscapePopups::ApplicationPopup
      @application={{@popupData.entity}}
    />
  {{/if}}

  {{!-- application popups --}}
  {{#if (eq this.entityType "package")}}
    <Visualization::Rendering::Popups::ApplicationPopups::ComponentPopup
      @component={{@popupData.entity}}
    />
  {{/if}}
  {{#if (eq this.entityType "class")}}
    <Visualization::Rendering::Popups::ApplicationPopups::ClazzPopup
      @clazz={{@popupData.entity}}
    />
  {{/if}}
  {{#if (eq this.entityType "drawableClassCommunication")}}
    <Visualization::Rendering::Popups::ApplicationPopups::CommunicationPopup
      @communication={{@popupData.entity}}
      @structureData={{@structureData}}
      @showApplication={{@showApplication}}
      @highlightModel={{@highlightModel}}
      @openParents={{@openParents}}
    />
  {{/if}}
</div>