{{#if @popupData}}
  <div class="popover" {{did-insert this.setPopupPosition}}>
    {{!-- landscape popups --}}
    {{#if (eq @popupData.entity.constructor.name "System")}}
      <Visualization::Rendering::Popups::LandscapePopups::SystemPopup
        @system={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "NodeGroup")}}
      <Visualization::Rendering::Popups::LandscapePopups::NodegroupPopup
        @nodeGroup={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "Node")}}
      <Visualization::Rendering::Popups::LandscapePopups::NodePopup
        @node={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "Application")}}
      <Visualization::Rendering::Popups::LandscapePopups::ApplicationPopup
        @application={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "ApplicationCommunication")}}
      <Visualization::Rendering::Popups::LandscapePopups::LandscapeCommunicationPopup
        @applicationCommunication={{@popupData.entity}}
      />
    {{/if}}

    {{!-- application popups --}}
    {{#if (eq @popupData.entity.constructor.name "Component")}}
      <Visualization::Rendering::Popups::ApplicationPopups::ComponentPopup
        @component={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "Clazz")}}
      <Visualization::Rendering::Popups::ApplicationPopups::ClazzPopup
        @clazz={{@popupData.entity}}
      />
    {{/if}}
    {{#if (eq @popupData.entity.constructor.name "DrawableClazzCommunication")}}
      <Visualization::Rendering::Popups::ApplicationPopups::CommunicationPopup
        @communication={{@popupData.entity}}
      />
    {{/if}}
  </div>
{{/if}}