<Visualization::PageSetup::VisualizationNavbar>
  <Visualization::PageSetup::Navbar::ResetVisualization
    @resetView={{this.resetView}}
  />
  <Visualization::PageSetup::Navbar::PauseReload />
  <Visualization::PageSetup::Navbar::TraceOverview
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::SqlOpener
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::ApplicationOpener
    @openAllComponents={{this.openAllComponents}}
  />
  <Visualization::PageSetup::Navbar::ApplicationSearch
    @application={{@application}}
    @unhighlightAll={{this.unhighlightAll}}
    @openParents={{this.openParents}}
    @closeComponent={{this.closeComponent}}
    @highlightModel={{this.highlightModel}}
  />
</Visualization::PageSetup::VisualizationNavbar>

<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    oncontextmenu="return false;"
    {{did-insert this.canvasInserted}}
  >
  </canvas>

  {{!-- popup(s) --}}
  <Visualization::Rendering::Popups::PopupCoordinator
    @popupData={{this.popupData}}
  />
</div>
