{{add-listener this.landscapeRepo "updated" this.onLandscapeUpdated}}

<Visualization::PageSetup::VisualizationNavbar>
  <Visualization::PageSetup::Navbar::ResetVisualization
    @resetView={{this.resetView}}
  />
  <Visualization::PageSetup::Navbar::PauseReload />
  <Visualization::PageSetup::Navbar::TraceOverview
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::SqlOpener
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::ApplicationOpener
    @openAllComponents={{this.openAllComponents}}
  />
  <Visualization::PageSetup::Navbar::ApplicationSearch
    @application={{@application}}
    @unhighlightAll={{this.unhighlightAll}}
    @openParents={{this.openParents}}
    @closeComponent={{this.closeComponent}}
    @highlightModel={{this.highlightModel}}
  />
  {{!-- 
    <Visualization::PageSetup::sidebar::TraceSelection
    @highlightTrace={{this.highlightTrace}}
    @moveCameraTo={{this.moveCameraTo}}
  />
  --}}
</Visualization::PageSetup::VisualizationNavbar>

<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    oncontextmenu="return false;"
    {{did-insert this.canvasInserted}}
  >
  </canvas>
  {{#if this.loadNewApplication.isRunning}}
    <div class="d-flex text-secondary" style="position: absolute">
      <div
        class="spinner-grow spinner-grow-sm"
        style="place-self: center"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <span class="ml-1" style="place-self: center">Loading Application</span>
    </div>
  {{/if}}

  {{!-- popup(s) --}}
  <Visualization::Rendering::Popups::PopupCoordinator
    @popupData={{this.popupData}}
  />
</div>
