<div
  style="display:none"
  {{did-update this.onLandscapeUpdated @landscapeData}}
>
</div>

<div class="row" style="height:100%">
  <div
    class="d-flex {{if @showDataSelection "col-8" "col-12"}}"
    style="flex-direction: column; height: 100%"
  >
    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#if this.heatmapConf.heatmapActive}}
        <HeatmapInfo
          @triggerHeatmapVisualization={{this.triggerHeatmapVisualization}}
          @updateMetric={{this.updateMetric}}
        />
      {{/if}}

      <canvas
        class="main-content-majority {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}"
        {{interaction-modifier
          raycastObjects=this.applicationObject3D
          camera=this.camera
          hammerInteraction=this.hammerInteraction
          doubleClick=this.handleDoubleClick
          singleClick=this.handleSingleClick
          mouseMove=this.handleMouseMove
          mouseWheel=this.handleMouseWheel
          mouseOut=this.handleMouseOut
          mouseStop=this.handleMouseStop
          panning=this.handlePanning
        }}
        {{collaborative-modifier
          raycastObject3D=this.applicationObject3D
          camera=this.camera
          onSingleClick=this.singleClickOnMesh
          onDoubleClick=this.doubleClickOnMesh
          mouseMove=this.mouseMoveOnMesh
          mouseStop=this.mouseStopOnMesh
          mouseOut=this.handleMouseOut
          setPerspective=this.setPerspective
          repositionSphere=this.repositionSphere
        }}
        {{did-insert this.canvasInserted}}
      >
        {{#if this.hammerInteraction}}
          <RightClickMenuHammer
            @items={{this.rightClickMenuItems}}
            @hammer={{this.hammerInteraction}}
          />
        {{/if}}
      </canvas>
      {{#if this.loadApplication.isRunning}}
        <div
          class="position-absolute mt-6 pt-5 ml-3 pointer-events-none"
        >
          <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
        </div>
      {{/if}}

      {{!-- popup(s) --}}
      {{#each this.popupData as |d|}}
        <Visualization::Rendering::Popups::PopupCoordinator
          @isMovable={{this.appSettings.enableCustomPopupPosition.value}}
          @popupData={{d}}
          @pinPopup={{this.pinPopup}}
          @removePopup={{this.removePopup}}
          @structureData={{@landscapeData.structureLandscapeData}}
          @showApplication={{@showApplication}}
          @highlightModel={{this.highlightModel}}
          @openParents={{this.openParents}}
        />
      {{/each}}
    </div>
  </div>
  {{#if @showDataSelection}}
    <div class="col-4" id="dataselection">
      <div class="mt-6 d-flex flex-row w-100" style="z-index: 90">
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class="explorviz-visualization-navbar">
            <ul class="nav justify-content-center">
              <Visualization::PageSetup::Navbar::TraceOverview
                @addComponent={{@addComponent}}
                @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
                @visualizationPaused={{@visualizationPaused}}
                @dynamicData={{@landscapeData.dynamicLandscapeData}}
              />
              <Visualization::PageSetup::Navbar::SettingsOpener
                @addComponent={{@addComponent}}
              />
              <CollaborativeSettingsOpener
                @addComponent={{@addComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class="card sidebar-card mt-3 border-radius-0">
              <div class="card-body d-flex flex-column">
                {{#if (eq componentName "trace-selection")}}
                  <h5 class="text-center">Trace Overview</h5>
                  <Visualization::PageSetup::Sidebar::TraceSelectionAndReplayer
                    @highlightTrace={{this.highlightTrace}}
                    @moveCameraTo={{this.moveCameraTo}}
                    @removeComponent={{@removeComponent}}
                    @removeHighlighting={{this.removeHighlighting}}
                    @dynamicData={{@landscapeData.dynamicLandscapeData}}
                    @structureData={{@landscapeData.structureLandscapeData}}
                    @application={{@landscapeData.application}}
                  />
                {{/if}}
                {{#if (eq componentName "collaborative-settings")}}
                  <h5 class="text-center">Collaborative Settings</h5>
                  <CollaborativeSettings
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName "settings")}}
                  <h5 class="text-center">Settings</h5>
                  <Visualization::PageSetup::Sidebar::Settings
                    @isLandscapeView={{false}}
                    @updateHighlighting={{this.updateHighlighting}}
                    @redrawCommunication={{this.addCommunication}}
                    @updateColors={{this.updateColors}}
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>
