<div
  style="display:none"
  {{did-update this.onLandscapeUpdated @landscapeData}}
>
</div>

<div class="row" style="height:100%">
  <div
    class="d-flex {{if @showDataSelection "col-8" "col-12"}}"
    style="flex-direction: column; height: 100%"
  >
{{!--     <Visualization::PageSetup::VisualizationNavbar>
      <Visualization::PageSetup::Navbar::ResetVisualization
        @resetView={{this.resetView}}
      />
      <Visualization::PageSetup::Navbar::PauseReload
        @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
        @visualizationPaused={{@visualizationPaused}}
      />
      <Visualization::PageSetup::Navbar::ColorPickerOpener
        @addComponent={{@addComponent}}
      />
      <Visualization::PageSetup::Navbar::TraceOverview
        @addComponent={{@addComponent}}
        @toggleVisualizationUpdating={{@toggleVisualizationUpdating}}
        @visualizationPaused={{@visualizationPaused}}
        @dynamicData={{@landscapeData.dynamicLandscapeData}}
      />
      <Visualization::PageSetup::Navbar::ApplicationOpener
        @openAllComponents={{this.openAllComponents}}
      />
      <Visualization::PageSetup::Navbar::ApplicationSearch
        @application={{@landscapeData.application}}
        @unhighlightAll={{this.unhighlightAll}}
        @openParents={{this.openParents}}
        @closeComponent={{this.closeComponent}}
        @highlightModel={{this.highlightModel}}
      />
    </Visualization::PageSetup::VisualizationNavbar> --}}

    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      <canvas
        class="main-content-majority {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}"
        {{did-insert this.canvasInserted}}
      >
        {{#if this.interaction}}
          <RightClickMenuHammer
            @items={{this.items}}
            @hammer={{this.interaction.hammerHandler}}
          />
        {{/if}}
      </canvas>
      {{#if this.loadNewApplication.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
      {{/if}}

      {{!-- popup(s) --}}
      <Visualization::Rendering::Popups::PopupCoordinator
        @popupData={{this.popupData}}
      />
    </div>
  </div>
  <div class={{if @showDataSelection "col-4" "hide"}} id="dataselection">
    <Visualization::PageSetup::Sidebar::DataSelection
      @closeDataSelection={{@closeDataSelection}}
    >
      {{#each @components as |componentName|}}
        <div class="card">
          <div class="card-body d-flex flex-column">
            {{#if (eq componentName "trace-selection")}}
              <Visualization::PageSetup::Sidebar::TraceSelectionAndReplayer
                @highlightTrace={{this.highlightTrace}}
                @moveCameraTo={{this.moveCameraTo}}
                @removeComponent={{@removeComponent}}
                @removeHighlighting={{this.removeHighlighting}}
                @dynamicData={{@landscapeData.dynamicLandscapeData}}
                @structureData={{@landscapeData.structureLandscapeData}}
                @application={{@landscapeData.application}}
              />
            {{/if}}
            {{#if (eq componentName "color-picker")}}
              <Visualization::PageSetup::Sidebar::ColorPicker
                @isLandscapeView={{false}}
                @removeComponent={{@removeComponent}}
                @updateView={{this.updateColors}}
              />
            {{/if}}
          </div>
        </div>
      {{/each}}
    </Visualization::PageSetup::Sidebar::DataSelection>
  </div>
</div>