{{add-listener this.renderingService 'reSetupScene' this.onReSetupScene}}
{{add-listener this.renderingService 'resizeCanvas' this.updateCanvasSize}}
{{add-listener this.renderingService 'redrawScene' this.cleanAndUpdateScene}}

{{add-listener this.landscapeRepo 'updated' this.onUpdated}}

{{add-listener this.interaction 'redrawScene' this.cleanAndUpdateScene}}
{{add-listener this.interaction 'showApplication' this.showApplication}}

<div style="width: 100%; height: 100%" {{did-insert this.outerDivInserted}}>
  <canvas class="main-content-majority" oncontextmenu="return false;" style="width:100%; height: 100%" {{did-insert this.canvasInserted}}>
  </canvas>
</div>