{{add-listener this.renderingService "reSetupScene" this.onReSetupScene}}
{{add-listener this.renderingService "redrawScene" this.cleanAndUpdateScene}}

{{add-listener this.landscapeRepo "updated" this.onUpdated}}

<Visualization::PageSetup::VisualizationNavbar>
  <Visualization::PageSetup::Navbar::ResetVisualization
    @resetView={{this.resetView}}
  />
  <Visualization::PageSetup::Navbar::PauseReload />
  <Visualization::PageSetup::Navbar::EventOpener
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::LandscapeDownloader
    @landscape={{@landscape}}
  />
</Visualization::PageSetup::VisualizationNavbar>

<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    oncontextmenu="return false;"
    {{did-insert this.canvasInserted}}
  >
  </canvas>
  {{#if this.loadNewLandscape.isRunning}}
    <div class="d-flex text-secondary" style="position: absolute">
      <div
        class="spinner-grow spinner-grow-sm"
        style="place-self: center"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <span class="ml-1" style="place-self: center">Loading Landscape</span>
    </div>
  {{/if}}

  {{!-- popup(s) --}}
  <Visualization::Rendering::Popups::PopupCoordinator
    @popupData={{this.popupData}}
  />
</div>
