{{#if @isReplay}}
  {{add-listener this.landscapeRepo "updatedReplayLandscape" this.onUpdated}}
{{else}}
  {{add-listener this.landscapeRepo "updatedLatestLandscape" this.onUpdated}}
{{/if}}

<div class="row" style="height:100%">
  <div
    class="d-flex {{if @showDataSelection "col-8" "col-12"}}"
    style="flex-direction: column; height: 100%"
  >
    {{#unless @isReplay}}
      <Visualization::PageSetup::VisualizationNavbar>
        <Visualization::PageSetup::Navbar::ResetVisualization
          @resetView={{this.resetView}}
        />
        <Visualization::PageSetup::Navbar::PauseReload />
        <Visualization::PageSetup::Navbar::ColorPickerOpener
          @addComponent={{@addComponent}}
        />
        <Visualization::PageSetup::Navbar::EventOpener
          @addComponent={{@addComponent}}
        />
        <Visualization::PageSetup::Navbar::LandscapeDownloader
          @landscape={{@landscape}}
        />
      </Visualization::PageSetup::VisualizationNavbar>
    {{/unless}}

    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      <canvas
        class="main-content-majority {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}"
        {{did-insert this.canvasInserted}}
      >
      </canvas>
      {{#if this.loadNewLandscape.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
      {{else if this.openSystemAndRedraw.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Opening System" />
      {{else if this.closeSystemAndRedraw.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Closing System" />
      {{else if this.openNodeGroupAndRedraw.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Opening Nodegroup" />
      {{else if this.closeNodeGroupAndRedraw.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Closing Nodegroup" />
      {{/if}}

      {{!-- popup(s) --}}
      <Visualization::Rendering::Popups::PopupCoordinator
        @popupData={{this.popupData}}
      />
    </div>
  </div>
  {{#unless @isReplay}}
    <div class={{if @showDataSelection "col-4" "hide"}} id="dataselection">
      <Visualization::PageSetup::Sidebar::DataSelection
        @components={{@components}}
        @removeComponent={{@removeComponent}}
        @closeDataSelection={{@closeDataSelection}}
      >
        {{#each @components as |componentName|}}
          <div class="card mb-3">
            <div class="card-body d-flex flex-column">
              {{#if (eq componentName "event-viewer")}}
                <Visualization::PageSetup::Sidebar::EventViewer />
              {{/if}}
              {{#if (eq componentName "color-picker")}}
                <Visualization::PageSetup::Sidebar::ColorPicker
                  @isLandscapeView={{true}}
                  @removeComponent={{@removeComponent}}
                  @updateView={{this.onUpdated}}
                />
              {{/if}}
            </div>
          </div>
        {{/each}}
      </Visualization::PageSetup::Sidebar::DataSelection>
    </div>
  {{/unless}}
</div>