{{add-listener this.renderingService "reSetupScene" this.onReSetupScene}}
{{add-listener this.renderingService "redrawScene" this.cleanAndUpdateScene}}

{{add-listener this.landscapeRepo "updated" this.onUpdated}}

<Visualization::PageSetup::VisualizationNavbar>
  <Visualization::PageSetup::Navbar::ResetVisualization
    @resetView={{this.resetView}}
  />
  <Visualization::PageSetup::Navbar::PauseReload />
  <Visualization::PageSetup::Navbar::EventOpener
    @addComponent={{@addComponent}}
  />
  <Visualization::PageSetup::Navbar::LandscapeDownloader
    @landscape={{@landscape}}
  />
  <Visualization::PageSetup::Navbar::ResetVisualization
    @resetView={{this.resetView}}
  />
</Visualization::PageSetup::VisualizationNavbar>

<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    oncontextmenu="return false;"
    {{did-insert this.canvasInserted}}
  >
  </canvas>

  {{!-- popup(s) --}}
  <Visualization::Rendering::Popups::PopupCoordinator
    @popupData={{this.popupData}}
  />
</div>
