<li class="nav-item">

  {{#if landscapeListener.pauseVisualizationReload}}
  <a class="nav-link-with-cursor" title="Resume Visualization" {{action "toggleVisualizationReload"}}>
    {{svg-jar "history" class="octicon align-middle navbar-highlight"}}
  </a>
  {{else}}
  <a class="nav-link-with-cursor" title="Pause Visualization" {{action "toggleVisualizationReload"}}>
    {{svg-jar "history" class="octicon align-middle"}}
  </a>
  {{/if}}

</li>