<div class="sidebar-component-close" {{on "click" this.close}}>
  {{svg-jar "x" class="octicon"}}
</div>
<div id="collaborativeSettings">
  {{#if (or this.settings.connected (not this.settings.meeting))}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-10">Meetings</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.settings.meetings as |meeting|}}
      {{#if (eq this.landscapeTokenService.token.value meeting.landscapeToken)}}
      <tr>
        <td>{{meeting.id}} by {{meeting.adminId}}</td>
        <td>
          <button type="button" class="btn btn-outline-dark" {{on "click" (fn this.joinSession
            meeting.id)}}>join</button>
        </td>
      </tr>
      {{/if}}
      {{/each}}
      {{!-- <tr>
        <td><Input @value={{this.meetingId}} /></td>
        <td>
          <button type="button" {{on "click" (fn this.joinSession this.meetingId)}}>join</button>
        </td>
      </tr> --}}
      <tr>
        <td>new session</td>
        <td>
          <button type="button" class="btn btn-outline-dark" {{on "click" (fn this.createMeeting)}}>create</button>
        </td>
      </tr>
    </tbody>
  </table>
  {{else if (not this.settings.connected)}}
  Disconnected ... <button type="button" class="btn btn-outline-dark" {{on "click" (fn
    this.reconnect)}}>Reconnect</button>
  {{/if}}
  {{#if this.settings.meeting }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-10">{{this.settings.meeting.adminId}}'s Meeting</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.settings.meeting.id}}</td>
        <td><button type="button" class="btn btn-outline-dark" {{on "click" (fn this.leaveMeeting)}}>Leave</button></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-6">Users</th>
        <th class="col-xs-2"></th>
        <th class="col-xs-2"></th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      {{#each this.settings.meeting.users as |user|}}
      <tr>
        <td>{{user.name}}</td>
        <td>
          <div style="background-color: {{user.color}}; width: 10px; height: 10px;"></div>
        </td>
        <td>
          {{#if (and this.settings.amIAdmin (not-eq this.settings.meeting.presenterId user.name))}}
          <div class="nav-link-with-cursor" title="Give Control" {{on "click" (fn this.giveControl user.name)}}>
            {{svg-jar "device-camera-video" class="octicon align-middle"}}</div>
          {{/if}}
        </td>
        <td>
          {{#if (not-eq user.name this.settings.username)}}
          <div class="nav-link-with-cursor" title="Jump to perspective" {{on "click" (fn this.jumpToPerspective
            user.name)}}>
            {{svg-jar "eye" class="octicon align-middle"}}</div>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <AdminSettings />
  <EventSettings />
  {{/if}}
</div>