{{ add-listener this.collaborativeService "user_list" this.receiveUserList }}
{{ add-listener this.collaborativeService "user_joined" this.receiveUserJoined }}
{{ add-listener this.collaborativeService "presentation_mode_activated" this.onPresentationModeActivated }}
{{ add-listener this.collaborativeService "presentation_mode_deactivated" this.onPresentationModeDeactivated }}
{{ add-listener this.collaborativeService "user_in_control" this.onUserInControl }}
<div class="sidebar-component-close">
  <button type="button" class="sidebar-component-close-button" title="Close Collaborative Settings" {{on "click"
    this.close}}>
    {{svg-jar "x" class="octicon"}}
  </button>
</div>
<div id="collaborativeSettings">
  <div id="collaborativeSettingsTitle" class="sidebar-component-title">
    <h5>Collaborative Settings</h5>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-2">Attribute</th>
        <th class="col-xs-10">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Session ID</td>
        <td>
          <Input @value={{this.settings.sessionId}} />
          {{#if this.settings.enabled}}
          <button type="button" {{on "click" (fn this.leaveSession)}}>Leave</button>
          {{else}}
          <button type="button" {{on "click" (fn this.joinSession)}}
            disabled={{this.settings.isSessionIdEmpty}}>Join</button>
          <button type="button" {{on "click" (fn this.createSession)}}>Create new session</button>
          {{/if}}
        </td>
      </tr>
      {{#if this.settings.enabled }}
      <tr>
        <td>Users: </td>
        <td>
          <table>
            <tbody>
              {{#each this.settings.users as |user|}}
              <tr>
                <td>{{user}}</td>
                <td>
                  {{#if (and this.settings.admin (not-eq this.settings.userInControl user))}}
                  <div class="nav-link-with-cursor" title="Give Control" {{on "click" (fn this.giveControl user)}}>
                    {{svg-jar "device-camera-video" class="octicon align-middle"}}</div>
                  {{/if}}
                </td>
                <td>
                  {{#if (not-eq this.settings.username user)}}
                  <div class="nav-link-with-cursor" title="Jump to perspective" {{on "click" (fn this.jumpToPerspective
                    user)}}>{{svg-jar "eye" class="octicon align-middle"}}</div>
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </td>
      </tr>
      {{#each this.toggles as |setting|}}
      {{#if setting.visible }}
      <tr>
        <td>
          <b>{{setting.name}}</b>
          <HelpTooltip @title={{setting.tooltip}} />
        </td>
        <td>
          <div style="float: left;">
            <XToggle @theme="skewed" @onLabel="Yes" @offLabel="No" @value={{setting.value}}
              @onToggle={{setting.onToggle}} />
          </div>
        </td>
      </tr>
      {{/if}}
      {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>