<table class="table table-striped">
  <thead>
    <tr {{on "click" this.toggleCollapsed}}>
      <th class="col-xs-8">Additional Settings</th>
      {{#if this.collapsed }}
        <th class="col-xs-4">
          {{svg-jar "chevron-down-16" style="float: right;" class="octicon align-right"}}
        </th>
      {{else}}
        <th class="col-xs-4">
          {{svg-jar "chevron-up-16" style="float: right;" class="octicon align-right"}}
        </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#unless this.collapsed}}
      {{#each this.settings as |setting|}}
        <tr>
          <td>
            <b>{{setting.name}}</b>
            <HelpTooltip @title={{setting.tooltip}} />
          </td>
          <td>
            <div style="float: left;">
              <XToggle
                @theme="skewed"
                @onLabel="Yes"
                @offLabel="No"
                @value={{setting.value}}
                @onToggle={{setting.onToggle}}
              />
            </div>
          </td>
        </tr>
      {{/each}}
    {{/unless}}
  </tbody>
</table>