{{#bs-navbar class="explorviz-top-navbar" type=type backgroundColor=bg onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <a class="navbar-brand" style="width: 150px;" target="_blank" href="http://www.explorviz.net">
    <img style="width: 100%;" src="images/explorviz-transparent.png"/>
  </a>
  {{navbar.toggle}}
  {{#navbar.content}}
      <!-- Left content -->
      {{page-setup/navbar-routes}}

      <!-- Right content -->
      {{#navbar.nav as |nav|}}
        {{page-setup/navbar-octicons}}

        {{#link-to "configuration" tagName="li" class="nav-item"}}
          {{#link-to "configuration" tagName="a" class="nav-link"}}
            {{svg-jar "gear" class="octicon align-middle"}}
          {{/link-to}}
        {{/link-to}}
        
        {{#nav.item class="nav-item-with-def-cursor"}}
          <span class="navbar-text">Signed in as <b>{{username}}</b></span>
        {{/nav.item}}
        {{#nav.item class="pl-lg-2"}}
          <a class="nav-link-with-cursor" {{action (route-action 'logout')}} title="Logout">
            {{svg-jar "sign-out" class="octicon align-middle" id="configurationButton"}}
          </a>
        {{/nav.item}}
      {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}