{{#bs-navbar class="explorviz-top-navbar fixed-top navbar-light" type=type backgroundColor=bg onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <a class="navbar-brand" style="width: 150px;" target="_blank" href="http://www.explorviz.net">
    <img style="width: 100%;" src="images/explorviz-transparent.png"/>
  </a>
  {{navbar.toggle}}
  {{#navbar.content}}
      <!-- Left content -->
      {{page-setup/navbar-routes}}

      <!-- Right content -->
      {{#navbar.nav as |nav|}}
        {{page-setup/navbar-octicons}}

        {{#nav.dropdown as |dd|}}
          {{#dd.toggle}}
            {{svg-jar "person" class="octicon align-middle"}} <b>{{username}}</b> <span class="caret"></span>
          {{/dd.toggle}}
          
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              {{#ddm.link-to "configuration"}}{{svg-jar "gear" class="octicon align-middle"}} Configuration{{/ddm.link-to}}
            {{/ddm.item}}
            {{#ddm.item}}
              <a class="dropdown-item" style="cursor: pointer" {{action (route-action 'logout')}} title="Logout">
                {{svg-jar "sign-out" class="octicon align-middle" id="configurationButton"}} Logout
              </a>
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}