<nav class="explorviz-top-navbar">
  <a class="navbar-brand" style="width: 150px;" target="_blank" href="http://www.explorviz.net">
    <img style="width: 100%;" src="images/explorviz-transparent.png"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
      <!-- Left content -->
      {{page-setup/navbar-routes resetRoute="resetRoute"}}

      <!-- Right content -->
      <ul class="navbar-nav ml-auto">
        {{page-setup/navbar-glyphicons}}

        {{#link-to "configuration" tagName="li" class="nav-item"}}
          {{#link-to "configuration" tagName="a" class="nav-link"}}
            {{svg-jar "gear" class="octicon align-middle"}}
          {{/link-to}}
        {{/link-to}}
        
        <li class="nav-item">
          <span class="navbar-text">Signed in as <b>{{username}}</b></span>
        </li>
        <li class="nav-item pl-3">
          <a class="nav-link" {{action 'logout'}} style="cursor:pointer;" title="Logout">
            {{svg-jar "sign-out" class="octicon align-middle" id="configurationButton"}}
          </a>
        </li>
      </ul>
  </div>
</nav>