<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  {{#if this.loadNewLandscape.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
  {{else if this.addApplication.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
  {{/if}}

  <div class="ar-right-button-container foreground">

    <div id="ar-heat-toggle-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleHeatmapInteraction }}
      >
        {{svg-jar "flame" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-secondary-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleSecondaryCrosshairInteraction }}
      >
        {{svg-jar "info" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-primary-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handlePrimaryCrosshairInteraction }}
      >
        {{svg-jar "unfold" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

  </div>

</div>