<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  {{#if this.loadNewLandscape.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
  {{else if this.addApplication.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
  {{/if}}

  {{!-- popup(s) --}}
  <Visualization::Rendering::Popups::PopupCoordinator
    @popupData={{this.popupData}}
  />

  <canvas
    {{did-insert this.canvasInserted}}
  >
  </canvas>

  <div class="ar-left-button-container foreground">

    <div id="ar-plus-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handlePlusInteraction }}
      >
        {{svg-jar "plus" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-minus-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleMinusInteraction }}
      >
        {{svg-jar "dash" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-info-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleInfoInteraction }}
      >
        {{svg-jar "info" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

  </div>

  <div class="ar-right-button-container foreground">

    <div id="ar-heat-toggle-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleHeatmapInteraction }}
      >
        {{svg-jar "flame" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-secondary-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handleSecondaryCrosshairInteraction }}
      >
        {{svg-jar "pin" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

    <div id="ar-primary-interaction-container">
      <BsButton
        @type="primary"
        class="half-transparent"
        {{ on "click" this.handlePrimaryCrosshairInteraction }}
      >
        {{svg-jar "unfold" class="octicon align-middle ar-button-svg"}}
      </BsButton>
    </div>

  </div>

</div>