<div class="row" style="height:100%">
  <div
    class="d-flex col-12"
    style="flex-direction: column; height: 100%"
  >
    {{!-- <Visualization::PageSetup::VisualizationNavbar>
      <Visualization::PageSetup::Navbar::ApplicationSearch
        @application={{@landscapeData.application}}
        @unhighlightAll={{this.unhighlightAll}}
        @openParents={{this.openParents}}
        @closeComponent={{this.closeComponent}}
        @highlightModel={{this.highlightModel}}
      />
    </Visualization::PageSetup::VisualizationNavbar> --}}

    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#if this.loadNewLandscape.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
      {{else if this.addApplication.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
      {{/if}}

      {{#unless @showDataSelection}}
        <div class="ar-right-relative foreground mt-6">
          <BsButton
            @onClick={{this.toggleSettingsPane}}
            @type="secondary"
            @outline={{true}}
            @title="Settings"
          >
            {{svg-jar "settings" class="octicon align-middle"}}
          </BsButton>
        </div>
      {{/unless}}

      {{!-- popup(s) --}}
      <Visualization::Rendering::Popups::PopupCoordinator
        @popupData={{this.popupData}}
      />

      <canvas
        class="main-content-majority position-absolute {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}"
        {{did-insert this.canvasInserted}}
        {{interaction-modifier 
          raycastObject=this.landscapeObject3D
          camera=this.camera 
          hammerInteraction=this.hammerInteraction
          doubleClick=this.handleDoubleClick
          singleClick=this.handleSingleClick
          panning=this.handlePanning
        }}
      >
        {{#if this.hammerInteraction}}
          <RightClickMenuHammer
            @items={{this.rightClickMenuItems}}
            @hammer={{this.hammerInteraction}}
          />
        {{/if}}
      </canvas>

      <div class="ar-left-button-container foreground">

        <div id="ar-plus-interaction-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handlePlusInteraction }}
          >
            {{svg-jar "plus" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

        <div id="ar-minus-interaction-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handleMinusInteraction }}
          >
            {{svg-jar "dash" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

        <div id="ar-info-interaction-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handleInfoInteraction }}
          >
            {{svg-jar "info" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

      </div>

      <div class="ar-right-button-container foreground">

        <div id="ar-heat-toggle-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handleHeatmapInteraction }}
          >
            {{svg-jar "flame" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

        <div id="ar-secondary-interaction-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handleSecondaryCrosshairInteraction }}
          >
            {{svg-jar "pin" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

        <div id="ar-primary-interaction-container">
          <BsButton
            @type="primary"
            class="half-transparent"
            {{ on "click" this.handlePrimaryCrosshairInteraction }}
          >
            {{svg-jar "unfold" class="octicon align-middle ar-button-svg"}}
          </BsButton>
        </div>

      </div>

    </div>
  </div>
  {{#if @showDataSelection}}
    <div class="position-absolute right col-4" id="dataselection">
      <div class="mt-6 d-flex flex-row w-100">
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class="explorviz-visualization-navbar">
            <ul class="nav justify-content-center">
              <Visualization::PageSetup::Navbar::ColorPickerOpener
                @addComponent={{@addComponent}}
              />
              <Visualization::PageSetup::Navbar::ArSettingsOpener
                @addComponent={{@addComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class="card mt-3 border-radius-0 foreground">
              <div class="card-body d-flex flex-column">
                {{#if (eq componentName "color-picker")}}
                  <h5 class="text-center">Landscape Colors</h5>
                  <Visualization::PageSetup::Sidebar::ColorPicker
                    @isLandscapeView={{true}}
                    @removeComponent={{@removeComponent}}
                    @updateView={{this.updateColors}}
                  />
                  <h5 class="text-center">Application Colors</h5>
                  <Visualization::PageSetup::Sidebar::ColorPicker
                    @isLandscapeView={{false}}
                    @removeComponent={{@removeComponent}}
                    @updateView={{this.updateColors}}
                  />
                {{/if}}
                {{#if (eq componentName "ar-settings-selector")}}
                  <h5 class="text-center">Settings</h5>
                  <Visualization::PageSetup::Sidebar::ArSettingsSelector
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>