<div class="row" style="height:100%">
  <div
    class="d-flex col-12"
    style="flex-direction: column; height: 100%"
  >
    <div
      id="rendering"
      {{did-insert this.outerDivInserted}}
      {{did-resize this.resize debounce=100}}
    >
      {{#if this.heatmapConf.heatmapActive}}
        <HeatmapInfo
          @metrics={{this.heatmapConf.metrics}}
          @updateMetric={{this.updateMetric}}
          @selectedMetric={{this.heatmapConf.selectedMetric}}
        />
      {{/if}}

      {{#if this.loadNewLandscape.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
      {{else if this.addApplication.isRunning}}
        <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
      {{/if}}

      {{#unless @showDataSelection}}
        <div class="ar-right-relative foreground mt-6">
          <BsButton
            id="arSettingsOpener"
            @onClick={{this.toggleSettingsPane}}
            @type="secondary"
            @outline={{true}}
            title="Settings"
          >
            {{svg-jar "gear-16" class="octicon align-middle"}}
          </BsButton>
        </div>
      {{/unless}}

      {{!-- popup(s) --}}


      {{#each this.popupDataMap as |popupData|}}
        <PopupWrapper
          @popupData={{popupData.[1]}}
          @keepPopupOpen={{this.keepPopupOpen}}
          @setPopupPosition={{this.setPopupPosition}}
          @closePopup={{this.closePopup}}
        >
        </PopupWrapper>
      {{/each}}

      <canvas
        class="main-content-majority position-absolute {{if this.hoverHandler.hoveredEntityObj "pointer-cursor"}}"
        {{did-insert this.canvasInserted}}
        {{interaction-modifier
          raycastObject=this.landscapeObject3D
          camera=this.localUser.defaultCamera
          hammerInteraction=this.hammerInteraction
          doubleClick=this.handleDoubleClick
          singleClick=this.handleSingleClick
          mouseWheel=this.handleMouseWheel
          panning=this.handlePanning
        }}
      >
        {{#if this.hammerInteraction}}
          <RightClickMenuHammer
            @items={{this.rightClickMenuItems}}
            @hammer={{this.hammerInteraction}}
          />
        {{/if}}
      </canvas>

      <div class="ar-left-button-container">

        <Visualization::PageSetup::ArButtons::PopupButton
          @handleInfoInteraction={{this.handleInfoInteraction}}
          @removeAllPopups={{this.removeAllPopups}}
        />

        <Visualization::PageSetup::ArButtons::HeatmapButton
          @toggleHeatmap={{this.handleHeatmapToggle}}
        />

        <Visualization::PageSetup::ArButtons::ZoomButton
          @arZoomHandler={{this.arZoomHandler}}
          @handleZoomToggle={{this.handleZoomToggle}}
        />

      </div>

      <div class="ar-right-button-container">

        <Visualization::PageSetup::ArButtons::PrimaryInteractionButton
          @handlePrimaryCrosshairInteraction={{this.handlePrimaryCrosshairInteraction}}
          @openAllComponents={{this.handleOpenAllComponents}}
        />

        <Visualization::PageSetup::ArButtons::SecondaryInteractionButton
          @handleSecondaryCrosshairInteraction={{this.handleSecondaryCrosshairInteraction}}
        />

        <Visualization::PageSetup::ArButtons::PingButton
          @handlePing={{this.handlePing}}
        />

      </div>

    </div>
  </div>
  {{#if @showDataSelection}}
    <div class="position-absolute right col-8" id="dataselection">
      <div class="mt-6 d-flex flex-row w-100">
        <SidebarResizer/>
        <Visualization::PageSetup::Sidebar::DataSelection
          @closeDataSelection={{@closeDataSelection}}
        >
          <div class="explorviz-visualization-navbar foreground">
            <ul class="nav justify-content-center">
              <Visualization::PageSetup::Navbar::XrCollaborationOpener
                @addComponent={{@addComponent}}
              />
              <Visualization::PageSetup::Navbar::ArSettingsOpener
                @addComponent={{@addComponent}}
              />
            </ul>
          </div>
          {{#each @components as |componentName|}}
            <div class="card mt-3 border-radius-0 foreground">
              <div class="card-body d-flex flex-column">
                {{#if (eq componentName "xr-collaboration")}}
                  <h5 class="text-center">Collaboration</h5>
                  <Visualization::PageSetup::Sidebar::XrCollaboration
                    @removeComponent={{@removeComponent}}
                  />
                {{/if}}
                {{#if (eq componentName "ar-settings-selector")}}
                  <h5 class="text-center">Settings</h5>
                  <Visualization::PageSetup::Sidebar::ArSettingsSelector
                    @removeComponent={{@removeComponent}}
                    @updateView={{this.updateColors}}
                    @updateCameraResolution={{this.initArJs}}
                    @updateRendererResolution={{this.updateRendererResolution}}
                  />
                {{/if}}
              </div>
            </div>
          {{/each}}
        </Visualization::PageSetup::Sidebar::DataSelection>
      </div>
    </div>
  {{/if}}
</div>

{{add-listener
  this.heatmapConfiguration
  "updatedClazzMetrics"
  this.applyHeatmap
}}