<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    {{interaction-modifier 
      raycastObjects=this.raycastObjects 
      camera=this.camera 
      singleClick=this.handleSingleClick
      doubleClick=this.handleDoubleClick
      mouseWheel=this.handleMouseWheel
      panning=this.handlePanning
    }}
    {{did-insert this.canvasInserted}}
  >
  </canvas>
  {{#if this.loadNewLandscape.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Landscape" />
  {{else if this.addApplication.isRunning}}
    <Visualization::Rendering::LoadingIndicator @text="Loading New Application" />
  {{/if}}
</div>
<VrButton
  @renderer={{this.renderer}}
  @onSessionStartedCallback={{this.onVrSessionStarted}}
  @onSessionEndedCallback={{this.onVrSessionEnded}}
/>
