<div class="popover">
    <h3 class="popover-header">
        <div style="font-weight:bold;text-align:center;">{{data.sourceClazz}}

            {{#if data.isBidirectional}}
            {{svg-jar "arrow-both" class="octicon align-middle"}}
            {{else}}
            {{svg-jar "arrow-right" class="octicon align-middle"}}
            {{/if}}

            {{data.targetClazz}}</div>
    </h3>
    <div class="popover-body" style="white-space: nowrap;">

        <table style="width:100%">
            <tr>
                <td>&nbsp;{{svg-jar "code" class="octicon align-middle"}}&nbsp; Requests:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.requests}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;{{svg-jar "list-ordered" class="octicon align-middle"}}&nbsp; Involved Traces
                    :</td>
                <td style="text-align:right;padding-left:10px;"> {{data.traces}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;{{svg-jar "clock" class="octicon align-middle"}}&nbsp; Avg. Response Time (ms):</td>
                <td style="text-align:right;padding-left:10px;"> {{format-number data.responseTime 'ms'}}
                </td>
            </tr>
        </table>
    </div>
</div>