<div id="ar-ping-interaction-container">
  {{#if this.userIsAlone}}
    <BsButton
    @type="primary"
    class="half-transparent"
    {{ on "click" @handlePing }}
    >
      {{svg-jar "north-star-16" class="octicon align-middle ar-button-svg"}}
    </BsButton>
  {{else}}
    <BsButton
    @type="primary"
    style={{html-safe this.localUser.highlightingColorStyle}}
    class="half-transparent"
    {{ on "click" @handlePing }}
    >
      {{svg-jar "north-star-16" class="octicon align-middle ar-button-svg"}}
    </BsButton>
  {{/if}}
</div>