<div id="ar-zoom-container">
  {{#if @arZoomHandler.zoomEnabled}}
    <BsButton
      @type="success"
      class="half-transparent"
      {{ on "click" @handleZoomToggle}}
    >
      {{svg-jar "search-16" class="octicon align-middle ar-button-svg"}}
    </BsButton>
  {{else}}
    <BsButton
      @type="primary"
      class="half-transparent"
      {{ on "click" @handleZoomToggle}}
    >
      {{svg-jar "search-16" class="octicon align-middle ar-button-svg"}}
    </BsButton>
  {{/if}}
</div>