<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <b>Is stopped?</b>
        <HelpTooltip @title={{this.tooltipTexts.stopped}} />
      </td>
      <td>        
        {{@procezz.stopped}}
      </td>
    </tr>
    <tr>
      <td>
        <b>Working Directory</b>
        <HelpTooltip
          @title={{this.tooltipTexts.workingDirectory}}
        />
      </td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
          {{this.workingDirectory}}
        </div>
      </td>
    </tr>
    {{!-- Use Shutdown Command in next version of agent
    <tr>
      <td>
        <b>Shutdown Command</b>                  
      </td>
      <td>
        {{textarea rows=1 class="form-control no-horizontal-scroll" value=procezz.shutdownCommand placeholder=procezz.shutdownCommand}}
      </td>
    </tr>
    --}}
    <tr>
      <td>
        <b>User Execution Command</b>
        <HelpTooltip
          @title={{this.tooltipTexts.userExecutionCommand}}
        />
      </td>
      <td>
        <Textarea
          class="form-control no-horizontal-scroll"
          @rows={{1}}
          @value={{@procezz.userExecutionCommand}}
          @placeholder={{@procezz.proposedExecutionCommand}}
        />
        <button
          type="button"
          class="btn btn-success"
          style="margin-top: 20px;"
          {{on "click" this.setUserExec}}
        >
          Insert recommendation
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <b>Agend Execution Command</b>
        <HelpTooltip
          @title={{this.tooltipTexts.agentExecutionCommand}}
        />
      </td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
          {{@procezz.agentExecutionCommand}}
        </div>          
      </td>
    </tr>
    <tr>
      <td>
        <b>OS (initial) Execution Command</b>
        <HelpTooltip
          @title={{this.tooltipTexts.osExecutionCommand}}
        />
      </td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
          {{@procezz.osExecutionCommand}}
        </div>
      </td>
    </tr>           
  </tbody>
</table>