<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <b>Programming language</b>
        <HelpTooltip @title={{this.tooltipTexts.programmingLanguage}} />
      </td>
      <td>{{@procezz.programmingLanguage}}</td>
    </tr>
    <tr>
      <td>
        <b>Internal ID</b>
        <HelpTooltip @title={{this.tooltipTexts.id}} />
      </td>
      <td>{{@procezz.id}}</td>
    </tr>
    <tr>
      <td>
        <b>OS Process ID (PID)</b>
        <HelpTooltip
          @title={{this.tooltipTexts.pid}}
        />
      </td>
      <td>{{@procezz.pid}}</td>
    </tr>
    <tr>
      <td>
        <b>Last Discovery Time</b>
        <HelpTooltip
          @title={{this.tooltipTexts.lastDiscoveryTimeAsDate}}
        />
      </td>
      <td>{{this.lastDiscoveryTimeAsDate}}</td>
    </tr>
    <tr>
      <td>
        <b>Name</b>
        <HelpTooltip
          @title={{this.tooltipTexts.name}}
        />
      </td>
      <td>
        <Input class="form-control" @value={{@procezz.name}} />
      </td>
    </tr>
    <tr>
      <td>
        <b>Is web server?</b>
        <HelpTooltip
          @title={{this.tooltipTexts.webserverFlag}}
        />
      </td>
      <td>
        <div style="float: left;">
          <XToggle
            @theme="skewed"
            @onLabel="Yes"
            @offLabel="No"
            @value={{@procezz.webserverFlag}}
            @onToggle={{@toggleProcezzWebserverFlag}}
          />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <b>Hide process?</b>
        <HelpTooltip
          @title={{this.tooltipTexts.isHidden}}
        />
      </td>
      <td>
        <div style="float: left;">
          <XToggle
            @theme="skewed"
            @onLabel="Yes"
            @offLabel="No"
            @value={{@procezz.isHidden}}
            @onToggle={{@toggleProcezzVisibility}}
          />
        </div>
      </td>
    </tr>
    {{#if @procezz.errorOccured}}
      <tr>
        <td>
          <b><p style="color: red">Error message</p></b>
          <HelpTooltip
            @title="An error occured. The message might be a hint on what's wrong."
          />
        </td>
        <td>
          <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
            <p style="color: red">{{@procezz.errorMessage}}</p>
          </div>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>