<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <b>Monitoring Active</b>
        <HelpTooltip
          @title={{this.tooltipTexts.monitoredFlag}}
        />
      </td>
      <td>
        <div style="float: left;">
          <XToggle
            @theme="skewed"
            @onLabel="Yes"
            @offLabel="No"
            @value={{@procezz.monitoredFlag}}
            @onToggle={{@toggleProcezzMonitoredFlag}}
          />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <b>aop.xml</b>
        <HelpTooltip
          @title={{this.tooltipTexts.aopContent}}
        />
      </td>
      <td>
        <div class="form-group">
          <Textarea
            class="form-control no-horizontal-scroll"
            @rows="15"
            @value={{@procezz.aopContent}}
          />
        </div>
      </td>
    </tr>
  </tbody>
</table>