<div class="popover">
    <h3 class="popover-header">
        <div style="font-weight:bold;text-align:center;">
            {{data.sourceApplication}}
            {{svg-jar "arrow-right" class="octicon align-middle"}}
            {{data.targetApplication}}
        </div>
    </h3>
    <div class="popover-body" style="white-space: nowrap;">

        <table style="width:100%">
            <tr>
                <td>&nbsp;{{svg-jar "code" class="octicon align-middle"}}&nbsp; Requests:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.requests}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;{{svg-jar "tools" class="octicon align-middle"}}&nbsp; Technology:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.technology}}
                </td>
            </tr>
            <tr>
                <td>&nbsp;{{svg-jar "clock" class="octicon align-middle"}}&nbsp; Avg. Duration (ms):</td>
                <td style="text-align:right;padding-left:10px;"> {{format-number data.duration 'ms'}}
                </td>
            </tr>
        </table>
    </div>
</div>