<div class="sidebar-component-title">
  <h5>Events</h5>
</div>

<div class="sidebar-component-close">
  <label {{action "close"}} title="Close Event Viewer" aria-label="Close">
    <font size="6">&times;</font>
  </label>
</div>

<div style="max-height:500px; overflow:auto; width:100%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Type</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      {{#each landscapeRepo.latestLandscape.events as |event|}}
      {{#if event.isSelected}}
      <tr {{action "eventClicked" event}} style="cursor: pointer" bgcolor="#cc8a8a">
        <th scope="row" title={{timestamp-to-date event.timestamp "localString"}}>{{timestamp-to-date event.timestamp
          "time"}}</th>
        <td title={{event.eventType}}>{{string-shortener event.eventType 9}}</td>
        <td title={{event.eventMessage}}>{{string-shortener event.eventMessage 9}}</td>
      </tr>
      {{else}}
      <tr {{action "eventClicked" event}} style="cursor: pointer">
        <th scope="row" title={{timestamp-to-date event.timestamp "localString"}}>{{timestamp-to-date event.timestamp
          "time"}}</th>
        <td title={{event.eventType}}>{{string-shortener event.eventType 9}}</td>
        <td title={{event.eventMessage}}>{{string-shortener event.eventMessage 9}}</td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#each landscapeRepo.latestLandscape.events as |event|}}
{{#if event.isSelected}}
<hr>
<h5 align="center">Event Details</h5>
<table class="table table-striped">
  <tbody>
    <tr class="d-flex">
      <th class="col-3">Time</th>
      <td class="col-9 container-word-wrap">{{timestamp-to-date event.timestamp "localString"}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Type</th>
      <td class="col-9 container-word-wrap">{{event.eventType}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Message</th>
      <td class="col-9 container-word-wrap">{{event.eventMessage}}</td>
    </tr>
  </tbody>
</table>
{{/if}}
{{/each}}