<div class="sidebar-component-title">
  <h5>Database Queries</h5>
</div>

<div class="sidebar-component-close">
  <label {{action "close"}} title="Close Database Queries" aria-label="Close">
    <font size="6">&times;</font>
  </label>
</div>

<div class="mt-2 mb-1 d-flex justify-content-end">
  <div>
    {{input id="filterInput" value=filterInput placeholder='Filter statements' class="form-control input-lg" autofocus="autofocus" focus-out=(action "filter") enter=(action "filter")}}
  </div>
  <div>
    {{#bs-button onClick=(action "filter") type="button" class="btn btn-light"}}{{svg-jar "search" class="octicon align-middle"}}{{/bs-button}}
  </div>
</div>

<div id="sqlScrollDiv" style="max-height:500px; overflow:auto; width:100%;">
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th {{action "sortBy" "timestamp"}} scope="col">Time</th>
        <th {{action "sortBy" "sqlStatement"}} scope="col">Statement</th>
        <th {{action "sortBy" "statementType"}} scope="col">Statement Type</th>
        <!-- <th {{action "sortBy" "returnValue"}} scope="col">Return Value</th> -->
        <th {{action "sortBy" "responseTime"}} scope="col">Response Time in
          {{#bs-button onClick=(action "toggleResponseTimeUnit") class="th-btn" outline=true}}{{responseTimeUnit}}{{/bs-button}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each databaseQueries as |query|}}
      {{#if query.isSelected}}
      <tr {{action "queryClicked" query}} style="cursor: pointer" bgcolor="#cc8a8a">
        <th scope="row" title={{timestamp-to-date query.timestamp "localString"}}>{{timestamp-to-date query.timestamp
          "time"}}</th>
        <td title={{query.sqlStatement}}>{{first-word query.sqlStatement}} ...</td>
        <td title={{query.statementType}}>{{string-shortener query.statementType 9}}</td>
        <!-- <td title={{query.returnValue}}>{{query.returnValue}}</td> -->
        <td title={{query.responseTime}}>{{format-number query.responseTime responseTimeUnit}}</td>
      </tr>
      {{else}}
      <tr {{action "queryClicked" query}} style="cursor: pointer">
        <th scope="row" title={{timestamp-to-date query.timestamp "localString"}}>{{timestamp-to-date query.timestamp
          "time"}}</th>
        <td title={{query.sqlStatement}}>{{first-word query.sqlStatement}} ...</td>
        <td title={{query.statementType}}>{{string-shortener query.statementType 9}}</td>
        <td title={{query.returnValue}}>{{query.returnValue}}</td>
        <td title={{query.responseTime}}>{{format-number query.responseTime responseTimeUnit}}</td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#each landscapeRepo.latestApplication.databaseQueries as |query|}}
{{#if query.isSelected}}
<hr>
<h5 align="center">Query Details</h5>
<table class="table table-striped">
  <tbody>
    <tr class="d-flex">
      <th class="col-3">Time</th>
      <td class="col-9 container-word-wrap">{{timestamp-to-date query.timestamp "localString"}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Statement</th>
      <td class="col-9 container-word-wrap">{{query.sqlStatement}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Type</th>
      <td class="col-9 container-word-wrap">{{query.statementType}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Return Value</th>
      <td class="col-9 container-word-wrap">{{query.returnValue}}</td>
    </tr>
    <tr class="d-flex">
      <th class="col-3">Response Time in
         {{#bs-button onClick=(action "toggleResponseTimeUnit") class="th-btn" outline=true}}{{responseTimeUnit}}{{/bs-button}}
        </th>
      <td class="col-9 container-word-wrap">{{format-number query.responseTime responseTimeUnit}}</td>
    </tr>
  </tbody>
</table>
{{/if}}
{{/each}}