<div class="sidebar-component-title">
  <h5>Trace Selection</h5>
</div>

<div class="sidebar-component-close">
  <label {{action "close"}} title="Close Trace Selection" aria-label="Close">
    <font size="6">&times;</font>
  </label>
</div>

<div style="max-height:500px; overflow:auto; width:100%;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Trace ID</th>
        <th scope="col">Soure Clazz</th>
        <th scope="col">Target Clazz</th>
        <th scope="col">Duration (ms)</th>
      </tr>
    </thead>
    <tbody>
      {{#each landscapeRepo.latestApplication.traces as |trace|}}
      {{#if trace.highlighted}}
      <tr {{action "clickedTrace" trace}} style="cursor: pointer" bgcolor="#cc8a8a">
        <th title={{trace.traceId}}>{{string-shortener trace.traceId 7}}</th>
        <td title={{trace.sourceClazz.name}}>{{string-shortener trace.sourceClazz.name 11}}</td>
        <td title={{trace.targetClazz.name}}>{{string-shortener trace.targetClazz.name 13}}</td>
        <td>{{trace.totalTraceDuration}}</td>
      </tr>
      {{else}}
      <tr {{action "clickedTrace" trace}} style="cursor: pointer">
        <th title={{trace.traceId}}>{{string-shortener trace.traceId 7}}</th>
        <td title={{trace.sourceClazz.name}}>{{string-shortener trace.sourceClazz.name 11}}</td>
        <td title={{trace.targetClazz.name}}>{{string-shortener trace.targetClazz.name 13}}</td>
        <td>{{trace.totalTraceDuration}}</td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#if highlighter.isTrace}}
<hr>

<h5 align="center">Trace Replayer</h5>
<div class="mt-3 d-flex justify-content-between">
  {{#bs-button onClick=(action "selectPreviousTraceStep") type="secondary" outline=true title="One step back"}}
  {{svg-jar "chevron-left" class="octicon align-middle"}}
  {{/bs-button}}
  <div>
    <div align="center">Step <b>{{highlighter.currentTracePosition}}</b> of {{highlighter.highlightedEntity.length}}</div> <br>
  </div>
  {{#bs-button onClick=(action "selectNextTraceStep") type="secondary" outline=true title="One step forth"}}
  {{svg-jar "chevron-right" class="octicon align-middle"}}
  {{/bs-button}}
</div>

<hr>

<h5 align="center">Trace Step Details</h5>
<div class="mt-3 d-flex justify-content-between">
 <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Soure Clazz</th>
        <th scope="col">Target Clazz</th>
        <th scope="col">Method</th>
        <th scope="col">Requests</th>
        <th title="Avg. Response Time (ms)" scope="col">Avg. (ms)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td title={{highlighter.currentTraceStep.clazzCommunication.sourceClazz.name}}>{{string-shortener highlighter.currentTraceStep.clazzCommunication.sourceClazz.name 11}}</td>
        <td title={{highlighter.currentTraceStep.clazzCommunication.targetClazz.name}}>{{string-shortener highlighter.currentTraceStep.clazzCommunication.targetClazz.name 13}}</td>
        <td title={{highlighter.currentTraceStep.clazzCommunication.operationName}}>{{string-shortener highlighter.currentTraceStep.clazzCommunication.operationName 8}}</td>
        <td>{{highlighter.currentTraceStep.requests}}</td>
        <td>{{highlighter.currentTraceStep.averageResponseTime}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{/if}}