<div class="sidebar-component-title">
  <h5>Trace Selection</h5>
</div>

<div class="sidebar-component-close">
  <label {{action "close"}} title="Close Trace Selection" aria-label="Close">
    <font size="6">&times;</font>
  </label>
</div>

<div class="mt-2 mb-1 d-flex justify-content-end">
  <div>
    {{input id="filterInput" value=filterInput placeholder='Filter traces' class="form-control input-lg" autofocus="autofocus" focus-out=(action "filter") enter=(action "filter")}}
  </div>
  <div>
    {{#bs-button onClick=(action "filter") type="button" class="btn btn-light"}}{{svg-jar "search" class="octicon align-middle"}}{{/bs-button}}
  </div>
</div>


<div style="max-height:500px; overflow:auto; width:100%;">
  <table class="table table-hover">
    <thead>
      <tr style="cursor: pointer">
        <th {{action "sortBy" "traceId"}} scope="col">Trace ID</th>
        <th {{action "sortBy" "sourceClazz.name"}} scope="col">Soure Clazz</th>
        <th {{action "sortBy" "targetClazz.name"}} scope="col">Target Clazz</th>
        <th {{action "sortBy" "totalTraceDuration"}} scope="col">Duration in
          {{#bs-button onClick=(action "toggleTraceTimeUnit") class="th-btn" outline=true}}{{traceTimeUnit}}{{/bs-button}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each traces as |trace|}}
      {{#if trace.highlighted}}
      <tr {{action "clickedTrace" trace}} style="cursor: pointer" bgcolor="#cc8a8a">
        <th title={{trace.traceId}}>{{string-shortener trace.traceId 7}}</th>
        <td title={{trace.sourceClazz.name}}>{{string-shortener trace.sourceClazz.name 11}}</td>
        <td title={{trace.targetClazz.name}}>{{string-shortener trace.targetClazz.name 13}}</td>
        <td>{{format-number trace.totalTraceDuration traceTimeUnit }}</td>
      </tr>
      {{else}}
      <tr {{action "clickedTrace" trace}} style="cursor: pointer">
        <th title={{trace.traceId}}>{{string-shortener trace.traceId 7}}</th>
        <td title={{trace.sourceClazz.name}}>{{string-shortener trace.sourceClazz.name 11}}</td>
        <td title={{trace.targetClazz.name}}>{{string-shortener trace.targetClazz.name 13}}</td>
        <td>{{format-number trace.totalTraceDuration traceTimeUnit }}</td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#if highlighter.isTrace}}
<hr>

{{#if isReplayAnimated}}
<h5 align="center">Trace Replayer
  {{#bs-button onClick=(action "toggleAnimation") title="Pause animation" type="button" class="th-btn navbar-highlight red-hover"}}{{svg-jar "device-camera-video" class="octicon align-middle"}}{{/bs-button}}
</h5>
{{else}}
<h5 align="center">Trace Replayer
  {{#bs-button onClick=(action "toggleAnimation") title="Resume animation" type="button" class="th-btn"}}{{svg-jar "device-camera-video" class="octicon align-middle"}}{{/bs-button}}
</h5>
{{/if}}

<div class="mt-3 d-flex justify-content-between align-items-center">
  {{#bs-button
    onClick=(action "selectPreviousTraceStep")
    type="secondary"
    outline=true
    title="One step back"
    disabled=(lte highlighter.currentTracePosition 1)
  }}
  {{svg-jar "chevron-left" class="octicon align-middle"}}
  {{/bs-button}}
  <div>
    Step <strong>{{highlighter.currentTracePosition}}</strong> of {{highlighter.highlightedEntity.length}}
  </div>
  {{#bs-button
    onClick=(action "selectNextTraceStep")
    type="secondary"
    outline=true
    title="One step forth"
    disabled=(gte highlighter.currentTracePosition highlighter.highlightedEntity.length)
  }}
  {{svg-jar "chevron-right" class="octicon align-middle"}}
  {{/bs-button}}
</div>

<hr>

<h5 align="center">Trace Step Details</h5>
<div class="mt-3 d-flex justify-content-between">
  <table class="table table-striped">
    <tbody>
      <tr class="d-flex">
        <th class="col-3">Soure Clazz</th>
        <td class="col-9 container-word-wrap">{{highlighter.currentTraceStep.clazzCommunication.sourceClazz.name}}
          {{#bs-button onClick=(action "lookAtClazz" highlighter.currentTraceStep.clazzCommunication.sourceClazz) type="button" class="th-btn"}}{{svg-jar "eye" class="octicon align-middle"}}{{/bs-button}}
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-3">Target Clazz</th>
        <td class="col-9 container-word-wrap">{{highlighter.currentTraceStep.clazzCommunication.targetClazz.name}}
          {{#bs-button onClick=(action "lookAtClazz" highlighter.currentTraceStep.clazzCommunication.targetClazz) type="button" class="th-btn"}}{{svg-jar "eye" class="octicon align-middle"}}{{/bs-button}}
        </td>
      </tr>
      <tr class="d-flex">
        <th class="col-3">Operation Name</th>
        <td class="col-9 container-word-wrap">{{highlighter.currentTraceStep.clazzCommunication.operationName}}</td>
      </tr>
      <tr class="d-flex">
        <th class="col-3">Requests</th>
        <td class="col-9 container-word-wrap">{{highlighter.currentTraceStep.requests}}</td>
      </tr>
      <tr class="d-flex">
        <th class="col-3" title="Average Response Time">Avg. Resp. Time in
          {{#bs-button onClick=(action "toggleTraceStepTimeUnit") class="th-btn" outline=true}}{{traceStepTimeUnit}}{{/bs-button}}
        </th>
        <td class="col-9 container-word-wrap">
          {{format-number highlighter.currentTraceStep.averageResponseTime traceStepTimeUnit}}</td>
      </tr>
    </tbody>
  </table>
</div>
{{/if}}