<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Internal ID</b>{{help-tooltip title="Entity ID used by ExplorViz"}}</td>
      <td>{{agent.id}}</td>
    </tr>
    <tr>
      <td><b>Agent IP:Port</b>{{help-tooltip title="Shows the IP and Port of the agent. Read the Name Info for more information."}}</td>
      <td>{{agent.ip}}:{{agent.port}}</td>
    </tr>
    <tr>
      <td><b>Last Time registered</b>{{help-tooltip title="Shows the last time the agent (re-)registered."}}</td>
      <td>{{lastDiscoveryTimeAsDate}}</td>
    </tr>
    <tr>
      <td><b>Name</b>{{help-tooltip title="Name attribute has a higher priority than IP:Port in all views. This attribute will also be considered for monitoring. If not filled, a monitored node will be named after the IP:Port attribute. While a procezz of this agent is monitored, changes to this attribute have no effect. Restart of process is necessary."}}</td>
      <td>
        {{input class="form-control" value=agent.name}}
      </td>
    </tr>
    <tr>
      <td><b>Hide Agent?</b>{{help-tooltip title="Hide this agent. It will not be visible on the overview page. Enable 'Show hidden entities' in settings dialog to undo."}}</td>
      <td>
        <div style="float: left;">                  
          {{x-toggle theme='skewed' onLabel='Yes' offLabel='No' value=toggleIsHidden onToggle=(action (mut toggleIsHidden))}}
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Number of processes</b>{{help-tooltip title="Shows the number of processes for this agent. Might be a hint for hidden processes."}}</td>
      <td>
        <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
          {{agent.procezzes.length}}
        </div>
      </td>
    </tr>
    {{#if agent.errorOccured}}
      <tr>
        <td><b><font color="red">Error message</font></b>{{help-tooltip title="An error occured. The message might be a hint on what's wrong."}}</td>
        <td>
          <div class="well well-sm container-word-wrap" style="margin-bottom: 0px;">
            <font color="red">{{agent.errorMessage}}</font>
          </div>
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>