{{#if session.isAuthenticated}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="width: 150px" target="_blank"
        href="http://www.explorviz.net">
          <img style="width: 100%" src="images/explorviz-transparent.png"/>
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {{page-setup/navbar-routes resetToLandscapeView="resetToLandscapeView"}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a {{action "resetView"}} title="Reset landscape">
            <span id="resetView" class="glyphicon glyphicon-remove"></span>
          </a>
        </li>
        <li>
          <a {{action "exportState"}} title="Export URL">
            <span id="exportURLButton" class="glyphicon glyphicon-share"></span>
          </a>
        </li>
        <li>
          {{#link-to "configuration" title="Show Configuration"}}
              <span id="configurationButton" class="glyphicon glyphicon-cog"></span>
          {{/link-to}}
        </li>
        <li><p class="navbar-text"> Signed in as {{username}}</p></li>
        <li><a {{action 'logout'}} style="cursor:pointer">Logout</a></li>
     </ul>
     {{page-setup/navbar-glyphicons}}
   </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
{{/if}}

<div id="vizContainer" class="container" style="height: 80%; width: 100%;">
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
  {{#if renderingService.showTimeline}}
    {{time-shift}}
  {{/if}}
{{/if}}


<div id="footer" class="footer">
  <table style="width: 100%">
    <tr style="width: 100%">
      <td style="width: 33%">&nbsp;</td>
      <td style="width: 33%; text-align: center;">Kiel University
        &#124; <a href="http://www.uni-kiel.de/suchen/impressum.shtml"
        target="_blank">Legal Notice</a> &#124; <a
        href="http://www.explorviz.net" target="_blank">Contact</a>
      </td>
      <td style="width: 33%; text-align: right;">Version 1.2.0 &nbsp;</td>
    </tr>
  </table>
</div>
