<BsTab id="configuration-tab" @customTabs={{true}} as |tab|>
  <nav>
    <BsNav @type="tabs" as |nav|>
      <nav.item @onClick={{action tab.select "userSettingsPane"}} @active={{bs-eq tab.activeId "userSettingsPane"}}>
        <nav.link-to @route="configuration.settings">Settings</nav.link-to>
      </nav.item>

      {{#if this.currentUser.user.isAdmin}}
        <nav.item @onClick={{action tab.select "userManagementPane"}} @active={{bs-eq tab.activeId "userManagementPane"}}>
          <nav.link-to @route="configuration.usermanagement">User Management</nav.link-to>
        </nav.item>
      {{/if}}

       <!-- Nav item for each addon (extension) that is registered at configurationService -->
      {{#each this.configurationService.configurationExtensions as |addon|}}
        <nav.item @onClick={{action tab.select addon.paneName}} @active={{bs-eq tab.activeId addon.paneName}}>
          <nav.link-to @route={{addon.link}}>{{addon.title}}</nav.link-to>
        </nav.item>
      {{/each}}
    </BsNav>
  </nav>
  <div class="tab-content mt-5">
    {{outlet}}
  </div>
</BsTab>