<div class="col-12 d-flex flex-column">
    <h3>Replay Landscape Management</h3>
    <h6>Previously exported landscapes can be uploaded here</h6>
    {{#if this.currentUser.user.isAdmin}}
    <div class="mb-3">
        <div class="float-right">
            <input id="selectBoxUploadLandscape" onchange={{action "uploadLandscape"}} type="file"
                style="display:none;" />
            {{#bs-button type="success" outline=true onClick=(action "triggerSelectBox") title="Upload a landscape"}}{{svg-jar "cloud-upload"}}
            <span>Upload landscape</span>{{/bs-button}}
            {{#bs-button type="info" outline=true onClick=(action "fetchReplayTimestamps") title="Fetch replay timestamps"}}{{svg-jar "watch"}}
            <span>Reload</span>{{/bs-button}}
        </div>
    </div>
    {{else}}
    You have to be an administrator to upload or download landscapes at the moment!
    {{/if}}

    <h4>Uploaded landscapes: {{timestampRepo.replayTimelineTimestamps.length}}</h4>
    <!-- timeline -->
    <div id="replay-timeline-content">
        <div id="timeline" class="timeline">
            {{replay/page-setup/timeline/plotly-timeline timestamps=timestampRepo.replayTimelineTimestamps clicked=(action 'timelineClicked')}}
        </div>
    </div>

</div>