<div class="mb-1">
  <div class="float-right">
    <input
      id="selectBoxUploadLandscape"
      type="file"
      style="display:none;"
      {{on "change" this.uploadLandscape}}
    >
    <BsButton
      @type="success"
      @outline={{true}}
      onClick={{this.triggerSelectBox}}
      @title="Upload a landscape"
    >
      {{svg-jar "cloud-upload"}}
      <span>Upload landscape</span>
    </BsButton>
  </div>
</div>
<div class="row" style="max-height:100%">
  <div class="col-12" id="vizspace">
    {{#if this.showLandscape}}
      {{#if this.landscapeRepo.replayLandscape.systems}}
        <Visualization::Rendering::LandscapeRendering
          @landscape={{this.landscapeRepo.replayLandscape}}
        />
      {{else}}
        <div class="container-fluid">
          <div class="jumbotron">
            <h2>No replay landscape selected!</h2>
            <p>
              Please select a landscape from the timeline.
              If the timeline is empty, please <i>upload</i> a landscape first.
            </p>
          </div>
          <div class="spinner-center-3" role="status"></div>
        </div>
      {{/if}}
    {{else}}
      <div style="position: absolute!important" class="pl-1">
        <BsButton
          @onClick={{this.openLandscapeView}}
          @type="secondary"
          @outline={{true}}
          @title="Back to Landscape"
        >
          {{svg-jar "reply" class="octicon align-middle"}}
        </BsButton>
      </div>
      <Visualization::Rendering::ApplicationRendering
        @application={{this.landscapeRepo.replayApplication}}
      />
    {{/if}}
    {{!-- timeline --}}
    <div id="timeline-content">
      <BsButton
        @onClick={{this.toggleTimeline}}
        @type="secondary"
        @outline={{true}}
        class="btn-timeline"
        @title={{if this.showTimeline "Hide Timeline" "Show Timeline"}}
      >
        {{#unless this.showTimeline}}
          <span class="pr-1">Show Timeline</span>
        {{/unless}}
        {{svg-jar
          "chevron-up"
          id="hidetimeline-icon"
          class=(if this.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")
        }}
      </BsButton>
      <div id="timeline" class="timeline {{unless this.showTimeline "timelinehide"}}">
        <Replay::PageSetup::Timeline::PlotlyTimeline
          @timestamps={{this.timestampRepo.replayTimelineTimestamps}}
          @clicked={{this.timelineClicked}}
        />
      </div>
    </div>
  </div>
</div>
