<div class="row" style="max-height:100%">
  <div class="col-12" id="vizspace" {{did-resize this.resize debounce=100}}>
    {{#if showLandscape}}
    {{#if landscapeRepo.latestLandscape.systems}}
    {{visualization/page-setup/visualization-navbar
          content=(array
            (component "visualization/page-setup/navbar/reset-visualization")
            (component "visualization/page-setup/navbar/pause-reload")
            (component "visualization/page-setup/navbar/event-opener")
            (component "visualization/page-setup/navbar/landscape-downloader" landscape=landscapeRepo.latestLandscape)
          )
        }}
    <div id="rendering">
      {{visualization/rendering/landscape-rendering}}
      <!-- popup(s) -->
      {{visualization/rendering/popups/popup-coordinator
          popupData=additionalData.popupContent}}
    </div>
    {{else}}
    <div class="container-fluid">
      <div class="jumbotron">
        <h2>No Landscape Found!</h2>
        <p>A new landscape will be fetched every 10 seconds.</p>
      </div>
      <div class="spinner-center-3" role="status"></div>
    </div>
    {{/if}}
    {{else}}
    {{visualization/page-setup/visualization-navbar
        content=(array
          (component "visualization/page-setup/navbar/reset-visualization")
          (component "visualization/page-setup/navbar/pause-reload")
          (component "visualization/page-setup/navbar/trace-overview")
          (component "visualization/page-setup/navbar/sql-opener")
          (component "visualization/page-setup/navbar/landscape-downloader" landscape=landscapeRepo.latestLandscape)
          (component "visualization/page-setup/navbar/application-opener")
          (component "visualization/page-setup/navbar/application-search")    
        )
      }}
    <div id="rendering">
      <div style="position: absolute!important" class="pl-1">
        {{#bs-button onClick=(action "openLandscapeView") type="secondary" outline=true title="Back to Landscape"}}
        {{svg-jar "reply" class="octicon align-middle"}}
        {{/bs-button}}
      </div>
      {{visualization/rendering/application-rendering latestApplication=landscapeRepo.latestApplication}}
      <!-- popup(s) -->
      {{visualization/rendering/popups/popup-coordinator
        popupData=additionalData.popupContent}}
    </div>
    {{/if}}
    <!-- timeline -->
    <div id="timeline-content">
      {{#bs-button
        onClick=(action "toggleTimeline")
        type="secondary"
        outline=true
        class="btn-timeline"
        title=(if renderingService.showTimeline "Hide Timeline" "Show Timeline")
      }}
      {{#unless renderingService.showTimeline}}<span class="pr-1">Show Timeline</span>{{/unless}}
      {{svg-jar "chevron-up" id="hidetimeline-icon" class=(if renderingService.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")}}
      {{/bs-button}}
      <div id="timeline" class="timeline {{unless renderingService.showTimeline "timelinehide"}}">
        {{visualization/page-setup/timeline/plotly-timeline timestamps=timestampRepo.timelineTimestamps clicked=(action 'timelineClicked') setChildReference=(action 'getTimelineReference')}}
      </div>
    </div>
  </div>
  <div class="col-4 hide" id="dataselection">
    {{visualization/page-setup/sidebar/data-selection}}
  </div>
</div>