<div class="row" style="max-height:100%">
  <div class="col-12" id="vizspace">
    {{#if this.showLandscape}}
      {{#if this.landscapeRepo.latestLandscape.systems}}
        <Visualization::Rendering::LandscapeRendering
          @id="landscape1"
          @landscape={{this.landscapeRepo.latestLandscape}}
          @font={{@model}}
          @components={{this.components}}
          @removeComponent={{this.removeComponent}}
          @closeDataSelection={{this.closeDataSelection}}
          @showDataSelection={{this.showDataSelection}}
          @addComponent={{this.addComponent}}
        />
      {{else if this.landscapeRepo.latestLandscape}}
        <div class="container-fluid">
          <div class="jumbotron">
            <h2>Empty Landscape received!</h2>
            <p>A new landscape will be fetched every 10 seconds.</p>
          </div>
          <div class="spinner-center-3" role="status"></div>
        </div>
      {{else}}
        <div class="container-fluid">
          <div class="jumbotron">
            <h2>No Landscape found!</h2>
            <p>A new landscape will be fetched every 10 seconds.</p>
          </div>
          <div class="spinner-center-3" role="status"></div>
        </div>
      {{/if}}
    {{else}}
      <div style="position: absolute!important" class="pl-1">
        <BsButton
          @onClick={{this.openLandscapeView}}
          @type="secondary"
          @outline={{true}}
          @title="Back to Landscape"
        >
          {{svg-jar "reply" class="octicon align-middle"}}
        </BsButton>
      </div>
      {{#if this.landscapeRepo.latestApplication}}
        <Visualization::Rendering::ApplicationRendering
          @id="app1"
          @application={{this.landscapeRepo.latestApplication}}
          @addComponent={{this.addComponent}}
          @font={{@model}}
          @components={{this.components}}
          @removeComponent={{this.removeComponent}}
          @closeDataSelection={{this.closeDataSelection}}
          @showDataSelection={{this.showDataSelection}}
        />
      {{/if}}
    {{/if}}
    {{!-- timeline --}}
    <div id="timeline-content">
      <BsButton
        @onClick={{this.toggleTimeline}}
        @type="secondary"
        @outline={{true}}
        class="btn-timeline"
        @title={{if this.showTimeline "Hide Timeline" "Show Timeline"}}
      >
        {{#unless this.showTimeline}}
          <span class="pr-1">Show Timeline</span>
        {{/unless}}
        {{svg-jar
          "chevron-up"
          id="hidetimeline-icon"
          class=(if this.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")
        }}
      </BsButton>
      <div id="timeline" class="timeline {{unless this.showTimeline "timelinehide"}}">
        <Visualization::PageSetup::Timeline::PlotlyTimeline
          @timestamps={{this.timestampRepo.timelineTimestamps}}
          @clicked={{this.timelineClicked}}
          @setChildReference={{this.getTimelineReference}}
        />
      </div>
    </div>
  </div>
</div>