<div class="row" style="max-height:100%">
  <div class="col-12" id="vizspace" {{did-resize this.resize debounce=100}}>
    {{#if this.showLandscape}}
      {{#if this.landscapeRepo.latestLandscape.systems}}
        <Visualization::PageSetup::VisualizationNavbar
          @content={{array
            (component "visualization/page-setup/navbar/reset-visualization")
            (component "visualization/page-setup/navbar/pause-reload")
            (component "visualization/page-setup/navbar/event-opener")
            (component "visualization/page-setup/navbar/landscape-downloader" landscape=this.landscapeRepo.latestLandscape)
          }}
        />
        <div id="rendering">
          {{#if this.landscapeRepo.latestLandscape}}
          <Visualization::Rendering::LandscapeRendering @id="landscape1" @landscape={{this.landscapeRepo.latestLandscape}} />
          {{/if}}
          <!-- popup(s) -->
          <Visualization::Rendering::Popups::PopupCoordinator
              @popupData={{this.additionalData.popupContent}} />
        </div>
      {{else}}
        <div class="container-fluid">
          <div class="jumbotron">
            <h2>No Landscape Found!</h2>
            <p>A new landscape will be fetched every 10 seconds.</p>
          </div>
          <div class="spinner-center-3" role="status"></div>
        </div>
      {{/if}}
    {{else}}
      <Visualization::PageSetup::VisualizationNavbar
        @content={{array
          (component "visualization/page-setup/navbar/reset-visualization")
          (component "visualization/page-setup/navbar/pause-reload")
          (component "visualization/page-setup/navbar/trace-overview")
          (component "visualization/page-setup/navbar/sql-opener")
          (component "visualization/page-setup/navbar/landscape-downloader" landscape=this.landscapeRepo.latestLandscape)
          (component "visualization/page-setup/navbar/application-opener")
          (component "visualization/page-setup/navbar/application-search")
        }}
      />
      <div id="rendering">
        <div style="position: absolute!important" class="pl-1">
          <BsButton @onClick={{action "openLandscapeView"}} @type="secondary" @outline={{true}} @title="Back to Landscape">
            {{svg-jar "reply" class="octicon align-middle"}}
          </BsButton>
        </div>
        {{#if this.landscapeRepo.latestApplication}}
          <Visualization::Rendering::ApplicationRendering @id="app1" @application={{this.landscapeRepo.latestApplication}} />
        {{/if}}
        <!-- popup(s) -->
        <Visualization::Rendering::Popups::PopupCoordinator
          @popupData={{this.additionalData.popupContent}} />
      </div>
    {{/if}}
    <!-- timeline -->
    <div id="timeline-content">
      <BsButton
        @onClick={{action "toggleTimeline"}}
        @type="secondary"
        @outline={{true}}
        class="btn-timeline"
        @title={{if this.renderingService.showTimeline "Hide Timeline" "Show Timeline"}}
      >
        {{#unless this.renderingService.showTimeline}}
          <span class="pr-1">Show Timeline</span>
        {{/unless}}
        {{svg-jar "chevron-up"
          id="hidetimeline-icon"
          class=(if this.renderingService.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")
        }}
      </BsButton>
      <div id="timeline" class="timeline {{unless this.renderingService.showTimeline "timelinehide"}}">
        <Visualization::PageSetup::Timeline::PlotlyTimeline
          @timestamps={{this.timestampRepo.timelineTimestamps}}
          @clicked={{action "timelineClicked"}}
          @setChildReference={{action "getTimelineReference"}}
        />
      </div>
    </div>
  </div>
  <div class="col-4 hide" id="dataselection">
    <Visualization::PageSetup::Sidebar::DataSelection />
  </div>
</div>