<div class="row" style="max-height:100%">
  <div class="{{if this.showDataSelection "col-8" "col-12"}}" id="vizspace">
    {{#if this.showLandscape}}
      {{#if this.landscapeRepo.latestLandscape.systems}}
{{!--         <Visualization::PageSetup::VisualizationNavbar
          @content={{array
            (component "visualization/page-setup/navbar/reset-visualization")
            (component "visualization/page-setup/navbar/pause-reload")
            (component "visualization/page-setup/navbar/event-opener" addComponent=this.addComponent)
            (component "visualization/page-setup/navbar/landscape-downloader" landscape=this.landscapeRepo.latestLandscape)
          }}
        /> --}}
        {{#if this.landscapeRepo.latestLandscape}}
          <Visualization::Rendering::LandscapeRendering @id="landscape1" @landscape={{this.landscapeRepo.latestLandscape}} />
        {{/if}}
      {{else}}
        <div class="container-fluid">
          <div class="jumbotron">
            <h2>No Landscape Found!</h2>
            <p>A new landscape will be fetched every 10 seconds.</p>
          </div>
          <div class="spinner-center-3" role="status"></div>
        </div>
      {{/if}}
    {{else}}
      <div style="position: absolute!important" class="pl-1">
        <BsButton @onClick={{action this.openLandscapeView}} @type="secondary" @outline={{true}} @title="Back to Landscape">
          {{svg-jar "reply" class="octicon align-middle"}}
        </BsButton>
      </div>
      {{#if this.landscapeRepo.latestApplication}}
        <Visualization::Rendering::ApplicationRendering
          @id="app1"
          @application={{this.landscapeRepo.latestApplication}}
          @addComponent={{this.addComponent}}
        />
      {{/if}}
    {{/if}}
    <!-- timeline -->
    <div id="timeline-content">
      <BsButton
        @onClick={{action "toggleTimeline"}}
        @type="secondary"
        @outline={{true}}
        class="btn-timeline"
        @title={{if this.renderingService.showTimeline "Hide Timeline" "Show Timeline"}}
      >
        {{#unless this.renderingService.showTimeline}}
          <span class="pr-1">Show Timeline</span>
        {{/unless}}
        {{svg-jar "chevron-up"
          id="hidetimeline-icon"
          class=(if this.renderingService.showTimeline "octicon align-middle hidetimeline-icon-down" "octicon align-middle")
        }}
      </BsButton>
      <div id="timeline" class="timeline {{unless this.renderingService.showTimeline "timelinehide"}}">
        <Visualization::PageSetup::Timeline::PlotlyTimeline
          @timestamps={{this.timestampRepo.timelineTimestamps}}
          @clicked={{action this.timelineClicked}}
          @setChildReference={{action this.getTimelineReference}}
        />
      </div>
    </div>
  </div>
  <div class="{{if this.showDataSelection "col-4" "hide"}}" id="dataselection">
    <Visualization::PageSetup::Sidebar::DataSelection
      @components={{this.components}}
      @removeComponent={{this.removeComponent}}
      @closeDataSelection={{this.closeDataSelection}}
    />
  </div>
</div>